[2020-02-08 12:20] codxse opened #2 "Didn't Receive Push Notification"
Hi all,

Thank you for making such a plugin. Helping me a lot. I have question about push notification integration, especially for iOS platform. Well, I managed to integrate and push the FCMtoken to CleverTap dashboard. But I have an issue with receiving the notification, there was no notification at all, although it said "successfully sent".

I am following readme guide to integrate using `Clever

[2020-02-09 03:45] Aditi3 commented on #2
Hi @codxse

I see you are sending FCM Token to the CleverTap. FCM token is not supported on the iOS platform.
Could you send an APNS token and verify it again?

Also, you can implement our method to register for Push on iOS

` CleverTapPlugin.registerForPush();`

Helping link to our Example Application: https://github.com/CleverTap/clevertap-flutter/blob/master/example/lib/main.dart#L28

[2020-02-10 07:04] codxse commented on #2
Thanks @Aditi3, I appreciate your answer.

Yes, It turn out that I have to push APNS token first. And I successfully send the notification message to the phone. :)

---

Here the code with `registerForPush();`

[code]

----

Question again. But, how do I read custom key-value? is there any method or handler to read that?

[2020-02-11 10:49] Aditi3 commented on #2
Hi @codxse

Looks like you want to handle the push notifications payload and process the user's response to a notification.

Here is the link where you can find the answer to handle the notifications: 
https://stackoverflow.com/questions/55350391/cannot-read-payload-of-push-notification-sent-from-clevertap-dashboard/55361276#55361276

The link point to the React-Native SDK but the same solution ca

[2020-02-19 07:56] bayuramadeza opened #3 "invoked me to send the queue to CleverTap servers"
Hi, i tried to send profile information to clevertap.
The query is running  but the response is empty.
I have add account id and account token in manifest

This is the response

  V/CleverTap: Getting domain from header - null
  V/CleverTap: Inbox: Processing response
  V/CleverTap: Inbox: Response JSON object doesn't contain the inbox key
  V/CleverTap: Processing Display Unit items...
  V/Clever

[2020-02-19 08:03] bayuramadeza commented on #2
Can you share your example code for using clevertap. because i can't see data in my dashboart.
and  i go t a meesage "Somebody has invoked me to send the queue to CleverTap servers" ?

[2020-02-23 15:12] darshanclevertap commented on #3
@bayuramadeza As far as I understand, these logs denote that profile information has been sent. Could you please go to our dashboard, on the left nav bar, you will see "Find People", put in the email address you passed in the profile info and check if the profile exists.

[2020-02-23 15:14] darshanclevertap commented on #2
@bayuramadeza The repo contains an example project. Please check out the [main.dart](https://github.com/CleverTap/clevertap-flutter/blob/master/example/lib/main.dart) file

[2020-02-23 15:15] darshanclevertap commented on #2
@codxse Is your issue resolved or is there something we can help you with? Please let us know

[2020-02-25 03:55] bayuramadeza commented on #3
it works now, after i added region in manifest. thanks

[2020-02-25 03:55] #3 closed

[2020-02-25 04:00] bayuramadeza opened #4 "Firebase.onmessaging conflict with clevertap listener"
Hi, clevertap team. Thanks for your work on this clevertap plugin for flutter.
But, i have a problem with firebasemessaging onmessage method. the method doesn't work anymore after i added
"com.clevertap.android.sdk.FcmTokenListenerService"
and
"com.clevertap.android.sdk.FcmMessageListenerService". in my manifest
So what should i do? i need to handle notification from firebase too.

[2020-02-26 03:23] bayuramadeza commented on #2
My issue has been closed, after i added region in manifest. Thanks

[2020-02-26 19:18] Aditi3 commented on #2
Hi @bayuramadeza

Great to know it worked for you.

[2020-02-26 19:18] Aditi3 commented on #2
Hi @codxse

I am going to close this issue here. If you need further help please feel free to email support at support@clevertap.com.

Thank you

[2020-02-26 19:18] #2 closed

[2020-02-27 15:22] darshanclevertap commented on #4
@bayuramadeza
In our latest release, v1.1.0, I have added a `createNotification` method. You can remove the `FcmTokenListenerService` and `FcmMessageListenerService`.
To pass the FCM token to us, you can use the `setPushToken ` method and pass the token to us as a String.
To handle the notification via CleverTap, in the `onMessageReceived` of Firebase, extract the data using the `message.getData`

[2020-02-28 08:52] Amongsaufa opened #6 "DOB Parameter Format"
Hai CT Team. I got a problem when i set DOB of user with this plugin. There is no DOB user attribute shows in user properties.
I tried to send DOB like
"DOB" : DateTime.now().toString() or "DOB" : "1998-09-19"

Both of them doesn't work. So how to set DOB from futter?

Thanks

[2020-02-28 10:12] bayuramadeza commented on #4
@darshanclevertap i have implemented setPushToken in my apps.
When i tried to push notification from clevertap dashboard, i got new issue. Notification doesn't trigger in onbackground and onlaunch because of notification body and title were null.
this is the response.
If notification(title and body were not null) everything's fine

[2020-03-09 09:22] bayuramadeza opened #7 "there is no event data tracked in dashboard when platform is IOS"
Hi CleverTap Developer Team

I got a problem when i tried to push profile user and event to the dashboard using IOS. I see the data has been sent from console log, but nothing appears in dashboard.

I have add clevertapaccountId and token in info.plist include region.

This is my code(data sent to dashboard when i use android)

  CleverTapPlugin.createNotificationChannel("channel", "TopKarir", "Ch

[2020-03-18 08:48] #7 closed

[2020-03-26 19:11] darshanclevertap commented on #6
@Amongsaufa This will be fixed in the next release.

[2020-03-26 19:15] darshanclevertap commented on #4
@bayuramadeza This is because of Firebase. They don't trigger onBackground and onLaunch when the Push contains only data object. Could you please try and raise the issue with them?

[2020-03-26 19:17] darshanclevertap commented on #6
@Amongsaufa We will be releasing the next version soon. You will be able to pass DOB as `dd-MM-yyyy` format

[2020-03-30 19:01] darshanclevertap commented on #6
@Amongsaufa This has been fixed in v1.1.1. Closing this.

[2020-03-30 19:01] #6 closed

[2020-04-10 05:11] iAn-Pinto opened #9 "Need to read custom key-value pairs passed in a push notification"
How do I get the custom key-value pairs passed in the clevertap dashboard push notification in my flutter app using this plugin.
I have followed all steps for using the plugin to receive clevertap dashboard campaign push notifications and am receiving the push notification in my system tray.
I just need which plugin callback method to use to read extra data like the custom key-value pairs passed i

[2020-05-22 15:24] shaz-tech opened #11 "The plugin `clevertap_plugin` is built using an older version of the Android plugin API"
The plugin `clevertap_plugin` is built using an older version of the Android plugin API which assumes that it's running in a full-Flutter environment. It may have undefined behaviors when Flutter is integrated into an existing app as a module.
The plugin can be updated to the v2 Android Plugin APIs

[2020-05-24 11:15] ian-pinto-ketto commented on #9
Kindly provided information on how can get custom key-value pairs passed in Clevertap push notifications in flutter.

[2020-05-27 18:10] darshanclevertap commented on #11
@shaz-tech Can you point us to some relevant documentation regarding this v2 Android Plugin APIs?

[2020-05-27 18:11] #4 closed

[2020-05-27 18:12] darshanclevertap commented on #9
@ian-pinto-ketto hi, this would involve adding callbacks in the CleverTap Android and iOS SDK. This is in our roadmap and I'm marking this as enhancement so that you get timely updates on it.

[2020-05-29 06:29] shaz-tech commented on #11
https://flutter.dev/go/android-plugin-migration

[2020-05-29 06:57] darshanclevertap commented on #11
@shaz-tech Thank you for sharing this. After I replied to you the other day, I did come across this link. This is a bigger change than expected and I'll have to discuss this internally with my team on how to migrate to the new Android Plugin APIs and by when? I will update this thread as soon as I have something for you.
Marking this as an enhancement for now.

[2020-06-26 07:18] bayuramadeza opened #12 "Notification Clicked Event didn't increase"
Hi Clevertap team

I want to know how to set event Notification Clicked manually in flutter? In Android i set up everything manually because event listener clevertap conflict with firebasemessaging. So i show notif manualyl with Flutter Local Notification . So, when user clicked the notification, Notification Clicked Event didn't record in user activity..i've tried to recordevent Notification Clic

[2020-06-29 08:22] adorufus opened #13 "Push notification not showing message tittle and message body"
when i test send notification, it only show empty message

please help me

[2020-07-17 06:23] darshanclevertap commented on #13
@adorufus Sorry for the delay, can you tell us how are you testing sending of Push Notifications?

[2020-07-17 06:27] darshanclevertap commented on #12
@bayuramadeza Have you done the below step as per documentation?

[code]

[2020-07-17 07:40] bayuramadeza commented on #12
yes i have done everything. But i didin't use clevertap listener in manifest. So i handle it in FCM services. But when notification appears and clicked by user. It didn't increase Notification Click event through I set CleverTap.recordEvent("Notification Clicked", )

[2020-07-17 10:33] darshanclevertap commented on #12
@bayuramadeza Oh ok, yes we have not exposed the `pushNotificationClickedEvent` method in dart. You also can't use this - `CleverTap.recordEvent("Notification Clicked")` because `"Notification Clicked"` is a reserved event in our SDK.

For now, you can raise a custom event like - `CleverTap.recordEvent("Push Notification Clicked")` and perform your analysis.

I'll mark this as an enhancement and w

[2020-07-21 12:51] darshanclevertap commented on #11
@shaz-tech Our latest version [v1.1.3](https://pub.dev/packages/clevertap_plugin) supports the new Android Plugin APIs. Closing this now.

[2020-07-21 12:51] #11 closed

[2020-07-21 12:55] darshanclevertap commented on #9
@ian-pinto-ketto @iAn-Pinto
Our latest version [v1.1.3](https://pub.dev/packages/clevertap_plugin) supports this using the following code
[code]
Please check out the sample app's `main.dart` file on how to use it.
Closing this now.

[2020-07-21 12:55] #9 closed

[2020-07-21 12:56] darshanclevertap commented on #13
@adorufus Can you explain how you have implemented Push Notifications? Also, are you testing on Android/iOS?

[2020-08-20 16:11] ganeshrvel commented on #13
@darshanclevertap I am also facing the same issue.

[code]

<img width="721" alt="Screenshot 2020-08-20 at 9 40 52 PM" src="https://user-images.githubusercontent.com/182092/90797135-db453200-e32d-11ea-9ce3-85dfb8389738.png">

[2020-08-20 17:14] ganeshrvel commented on #13
I figured it out,
Add the below code in your `AndroidManifest.xml`

[code]

@darshanclevertap please add this to the clevertap for flutter sdk docs. There a lot of things which are missing in the docs regarding implementation and integration, also there is no clear documentation about the clevertap for flutter methods.

[2020-08-21 02:58] darshanclevertap commented on #13
@ganeshrvel We're in the process of revamping the documentation for all our hybrid platform SDKs, your feedback is duly noted and you'll be seeing a better version of the documentation soon. For my understanding, what do you mean by

Kindly explain so that we can add this to our list of things to improve.
Thanks!

[2020-08-26 20:14] ganeshrvel opened #17 "Branch integration"
According to the documentation, it is possible to integrate CleverTap and Branch together.
Doc link: https://developer.clevertap.com/docs/branch

How can we do the same in Flutter?

Regards!

[2020-08-27 02:53] darshanclevertap commented on #17
@ganeshrvel The `getCleverTapAttributionIdentifier()` method mentioned in our documentation is present in Dart as well. You can use that to get the Attribution Identifier and pass it to [Branch](https://pub.dev/packages/flutter_branch_sdk)

If you face any issues, you can reach out to our support team from the Dashboard directly and someone from our team will help you out at the earliest.

[2020-08-28 05:19] ayush221b commented on #13
@darshanclevertap I have faced a similar issue, here are the details:

Platform tested on : **Android**

Plugin version: 1.1.2

**Context:**

We use firebase_messaging v7.0.0

The firebase messaging configure functions is done using this code:
[code]
We use multiple channels through which we receive push notifications in our app, Clevertap being one of them, we have followed the docs to configure

[2020-08-28 07:34] darshanclevertap commented on #13
@ayush221b I get your issue now. We always send Push Notification data as Firebase data messages so if you're seeing this payload -

[code]

Then this is not an issue, since you have other Push services apart from CleverTap, what I can suggest you is you can use our `createNotification` method.

[code]

You can find the reference to the `createNotification` method [here](https://github.com/CleverT

[2020-08-28 07:37] ayush221b commented on #13
Thank you so much for the quick response @darshanclevertap Will try this out.

[2020-08-28 10:35] ayush221b commented on #13
Hey @darshanclevertap I tried what you suggested.

App is in foreground. Platform is Android.

In my firebase_messaging configure method:
[code]

I had tried to send `message['data']` directly but it threw an exception that said a HashMap could not be cast to a string, so I then opted for encoding the same in json.

In addition to that:

I removed:

[code]

from my AndroidManifest.

Result:

The o

[2020-09-01 13:10] ayush221b commented on #13
As suggested by Clevertap, I also added Channel id in the notification payload:

Console output:

[code]

**Result: The notification still didn't appear.**

`onMessage` code:

[code]

[2020-09-02 04:14] #17 closed

[2020-09-02 04:16] darshanclevertap commented on #13
@ayush221b Just to confirm, the Channel ID defined in the payload and the Channel ID defined on your app is the same?

[2020-09-02 04:31] ayush221b commented on #13
Yes, they are same

[code]

[code]

[2020-09-02 11:35] danilopena opened #18 "NullPointerException on CleverTapPlugin - Probably in notification flow"
Our firebase Crashlytics is registering this crash. We upgraded CleverTap, but the error persists.

Somebody can help?

@darshanclevertap have reviewed this issue. Im reopening in the correct repository.

Our version:

In flutter: clevertap_plugin: 1.1.4
Android: implementation 'com.clevertap.android:clevertap-android-sdk:3.8.2'

Fatal Exception: java.lang.NullPointerException: Attempt to invoke v

[2020-09-02 12:08] darshanclevertap commented on #18
@danilopena Thanks for raising this here, we'll add the fix and release this with the next version soon.

[2020-09-09 12:50] danilopena opened #19 "ArrayIndexOutOfBounds - CTCarouselMessageViewHolder crash"
Hey guys our firebase started register this crash.

Some data to help on analysis.

[code]
<img width="828" alt="Captura de Tela 2020-09-09 às 09 48 02" src="https://user-images.githubusercontent.com/6910678/92600244-ae77a100-f281-11ea-8916-a6d652b305ae.png">

<img width="487" alt="Captura de Tela 2020-09-09 às 09 47 05" src="https://user-images.githubusercontent.com/6910678/92600246-ae77a100-f2

[2020-09-22 01:47] lucaspizzo commented on #19
Hey guys @kumaratulismu @darshanclevertap any news about this issue? I work in the same project with @danilopena and we still experiencing this bug.

[2020-09-22 09:48] piyush-kukadiya commented on #19
@lucaspizzo We are looking into it, will keep you posted here once its fixed.

[2020-09-28 06:19] darshanclevertap commented on #13
@ayush221b Sorry for the delay. Can you create your own channel ID using this [example here?](https://github.com/CleverTap/clevertap-flutter/blob/master/example/lib/main.dart#L29) And then use this channel ID to send your push notification?

[2020-10-15 08:24] darshanclevertap commented on #18
@danilopena Can you upgrade to 1.2.0 and see if this issue exists?

[2020-10-15 08:24] darshanclevertap commented on #19
@danilopena Can you upgrade to 1.2.0 and see if this issue exists?

[2020-10-15 08:24] darshanclevertap commented on #13
@ayush221b Did your issue get resolved?

[2020-10-16 04:05] ayush221b commented on #13
Yes, this was solved. Clevertap support helped us through it. In our case the only solution for firebase_messaging and clevertap to co-exist was to create a custom listener which handled clevertap and non-clevertap notifications separately.

[2020-10-16 12:19] selvakumardreams opened #22 "com.clevertap.android.sdk.FcmMessageListenerService: java.lang.ClassNotFoundException"
10-16 16:35:18.248 25461 25461 E AndroidRuntime: FATAL EXCEPTION: main
10-16 16:35:18.248 25461 25461 E AndroidRuntime: Process: com.mapastory, PID: 25461
10-16 16:35:18.248 25461 25461 E AndroidRuntime: java.lang.RuntimeException: Unable to instantiate service com.clevertap.android.sdk.FcmMessageListenerService: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.FcmMes

[2020-10-16 17:01] darshanclevertap commented on #22
@selvakumardreams If you have manually added the FcmMessageListenerClass in your app, please go through [this documentation for CleverTap Android SDK v4.0.0 changes.](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md)

[2020-10-21 05:26] darshanclevertap commented on #22
@selvakumardreams Did your issue get resolved?

[2020-10-21 05:36] gokrazee commented on #22
Yes its resolved

[2020-10-21 05:37] selvakumardreams commented on #22
Thanks, its resolved.

[2020-10-21 05:37] #22 closed

[2020-11-04 18:07] #19 closed

[2020-11-04 18:07] #18 closed

[2020-11-20 06:55] bayuramadeza opened #23 "Clevertap plugin cause the app crasih"
Hi, In the last 5 days, I got few crash reports from my crashlytics.
And I found the issue in clevertap plugin  So I want you to know about this crash issue.
The device that crash is Google Pixex 3 XL with Android 11

<img width="611" alt="Screen Shot 2020-11-20 at 13 51 58" src="https://user-images.githubusercontent.com/32892647/99768690-cf892780-2b37-11eb-9693-0f1899630ae2.png">

Please fix this

[2020-11-20 07:32] darshanclevertap commented on #23
@bayuramadeza This was fixed in the latest release [v1.2.0](https://github.com/CleverTap/clevertap-flutter/releases/tag/1.2.0)
There are a few breaking changes on the Android side so please refer to [this document](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) before proceeding.

[2020-11-23 14:32] rahul14723 opened #24 "I am getting notification but not able to print my own log in flutter"
**By default, this is what I get when I hit an API for notification. but I don't know to print it in my dart class.**

V/CleverTap:[: PushProvider:46R-766-W95Z]( 1714):  [PushType:FCM] received notification from CleverTap: Bundle[{wzrk_acct_id=46R-766-W95Z, clevertap_id=__gbe2867384246493b91e5c91f8afc1904, transaction_status=1, is_silent=1, nm=notidyTxnStatus, nt=Phlebo, ico=http://healthians.png,

[2020-11-24 05:46] darshanclevertap commented on #24
A couple of questions @rahul14723

1. Are you rendering the PNs on your own or are you using CleverTap's FcmMessageListenerService?
2. What is the use case that you're solving for?

[2020-11-24 05:46] darshanclevertap commented on #23
@bayuramadeza Kindly confirm if you're still facing or not.

[2020-11-24 06:31] rahul14723 commented on #24
<meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="--"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="--"/>
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1"/>

        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListene

[2020-11-24 06:34] rahul14723 commented on #24
I am receiving notifications from my server through clevertap.and i want to print it in my main.dart.
but i am unable to do that.

[2020-11-24 06:36] rahul14723 commented on #24
**it is printing somewhere else. and i am unable to track the location where the logs are printing.**

V/CleverTap:[: PushProvider:46R-766-W95Z](12764):  [PushType:FCM] received notification from CleverTap: Bundle[{wzrk_acct_id=46R-766-W95Z, clevertap_id=__65b00e8c8b954d8b9fb54ef9b4770b7f, transaction_status=1, is_silent=1, nm=notidyTxnStatus, nt=Phlebo, ico=http://healthians.png, key=value_androi

[2020-11-25 16:38] danilopena opened #25 "It is possible to call a hideInbox() or something else, i want to dismiss inbox page."
Hello everyone!

We are using Inbox feature to send some images/links and deeplinks. But in iOS when users click on banner, my deeplink page open behind the Inbox, so i want to force 'dissmis' when i receive deeplinks.

I cant find how to do this.

[2020-11-26 03:05] hdeyana commented on #23
Hi this breaking change cause over 5k+ crash in our google play report.

Some suggestion
1. Add Breaking change warning in readme.md
3. Add Breaking change warning in changelog.md
2. Make it version 2.0.0, so it will not auto updated by pub if its from 1.1 to 1.2

[2020-11-26 05:22] darshanclevertap commented on #23
@hdeyana Apologize for the inconvenience, we'll ensure breaking changes are conveyed more effectively on Github as well.
I hope that fixing all the breaking changes has helped in resolving the crashes.

[2020-11-26 05:30] darshanclevertap commented on #24
@rahul14723 Sorry for the delay. If you use our `FcmMessageListenerService` class then the Push Notifications are handled by the Android side of our SDK. This means you will not be able to directly access them via `main.dart`

To access Push Notification payload in your `main.dart` after a Push Notification has been clicked implement the following as given in the [sample app](https://github.com/Cl

[2020-11-26 05:41] rahul14723 commented on #24
thanks for your response.
now i am getting my notifications.
thanks once again.

On Thu, Nov 26, 2020 at 11:00 AM Darshan Pania <notifications@github.com>
wrote:

--

Chat with our corona expert *Arina* to INSTANTLY answer all your health
doubts about COVID 19. *Click here
<https://chatbot.healthians.com/covid19>* to start the chat. 

Healthians
- committed for your well being from 6 Years, Watch

[2020-11-26 05:56] #24 closed

[2020-11-29 02:12] Aditi3 commented on #25
Hi @danilopena

Currently, our SDK doesn't have any public API to hide the App Inbox. I will take this up for discussion with our engineering team and keep you updated here if we can consider providing `hideInbox` public API to dismiss the App Inbox Controller.

Thank you!

[2020-12-01 11:21] shashikantdurge opened #26 "ClassCastException on clicking Notification"
I'm using Custom MyFirebaseMessagingService

[code]

StackTrace:
[code]

[2020-12-01 11:56] darshanclevertap commented on #26
@shashikantdurge Which version are you on?

[2020-12-01 11:59] #23 closed

[2020-12-01 13:14] shashikantdurge commented on #26
clevertap_plugin: 1.2.0

[2020-12-01 15:12] shashikantdurge commented on #26
@darshanclevertap **This is happening when the app is killed** (Not in the Android stack).
It works fine when the app is in foreground and background.

[2020-12-02 03:51] Aditi3 commented on #25
Closing this as it is being taken up by Support.

[2020-12-02 03:51] #25 closed

[2020-12-07 21:25] acoutts opened #27 "ActivityLifecycleCallback not found"
The instructions say to add this to the android Application:

[code]

But I do not see where to import `ActivityLifecycleCallback` from - it doesn't appear to exist anywhere. Where should we import that from?

[2020-12-07 21:39] acoutts commented on #27
The instructions did not make it clear that I have to add this to my `app/build.gradle` on my flutter app:
[code]

[2020-12-07 21:39] #27 closed

[2020-12-15 13:05] darshanclevertap commented on #26
Sorry for the delay @shashikantdurge Thanks for bringing this up, we'll try to reproduce it on our end and fix this in the next version

[2020-12-15 13:10] #13 closed

[2020-12-15 13:15] darshanclevertap commented on #26
@shashikantdurge Are you able to receive Push Notifications when the app is in the killed state when you're using the Firebase plugin?

[2020-12-15 14:40] shashikantdurge commented on #26
Yes firebase is working perfectly fine in all states of the app

On Tue, Dec 15, 2020, 6:45 PM Darshan Pania <notifications@github.com>
wrote:

[2020-12-16 06:59] shashikantdurge commented on #26
If you need any help in reproducing, I can help @darshanclevertap

[2020-12-16 07:01] darshanclevertap commented on #26
@shashikantdurge Yes, can you give me the steps. That would help a lot

[2020-12-17 10:51] shashikantdurge commented on #26
1. Integrate Firebase messaging
2. If the project is created before 1.12, Follow https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects
3. Integrate CleverTap plugin
4. Integrate https://pub.dev/packages/flutter_local_notifications (Optional may be)
5. Follow instructions from https://developer.clevertap.com/docs/using-fcm-version-1800-and-above

[2020-12-17 12:36] darshanclevertap commented on #26
@shashikantdurge Thank you for the steps. I'll try and reproduce this on my end once and report back here soon

[2021-01-14 16:21] jaspreet1990 opened #28 "Notification Works for Flutter ( Android )?"
As I have seen
https://github.com/CleverTap/clevertap-flutter/blob/5cc3021c04f1a5bee4d9ef1763e6d4b42d9eed47/example/lib/main.dart#L32

**CleverTapPlugin.registerForPush()**; //only for iOS
There is comment that Only for IOS

[2021-01-14 16:22] jaspreet1990 opened #29 "Notification Works for Fluter ( Android ) ?"
As I have seen
https://github.com/CleverTap/clevertap-flutter/blob/5cc3021c04f1a5bee4d9ef1763e6d4b42d9eed47/example/lib/main.dart#L32

**CleverTapPlugin.registerForPush()**; //only for iOS
There is comment that Only for IOS

[2021-01-14 16:23] jaspreet1990 commented on #29
@darshanclevertap  , Any help on this ?

[2021-01-15 03:32] gouravd opened #30 "Null Pointer exception (if app is closed, has deeplink) and using build from fix for"
I was running into the issue - https://github.com/CleverTap/clevertap-flutter/issues

I saw the fix already in branch - https://github.com/CleverTap/clevertap-flutter/tree/task/release/SDK-540

So for testing I did overriding in pubsec.yaml. The issue seems to be resolved. However if thee Push notification has deeplink and app is closed, clicking on the push notification crashes app while app laun

[2021-01-15 06:34] darshanclevertap commented on #29
@jaspreet1990 Sorry for the delay. Our SDK supports Push Notifications for both Android and iOS. You can check out CleverTap documentation for Push notifications in [Android here](https://developer.clevertap.com/docs/android#section-push-notifications) and [iOS here](https://developer.clevertap.com/docs/ios#section-push-notifications). Or else you can use the Firebase plugin for Flutter

[2021-01-15 06:45] darshanclevertap commented on #28
Duplicate of #29 Closing this

[2021-01-15 06:45] #28 closed

[2021-01-15 06:48] darshanclevertap commented on #30
@gouravd The code in this [branch](https://github.com/CleverTap/clevertap-flutter/tree/task/release/SDK-540) is unreleased. How did you override your `pubspec.yaml` to check this code?

[2021-02-10 10:22] aamirzaidi opened #32 "class file for com.clevertap.android.sdk.SyncListener not found"
Using Flutter SDK.
First time installing cleverTap

I have followed all the steps listed in clevertap_plugin at  pub.dart.
(Steps I have done for clarification ):

1.  install dependency from pub.dart.
2. Added the code to my dependencies section in project/build.gradle.
3. Add the code to my dependencies section in app/build.gradle
4. At the end of the app/build.gradle file added the code provide

[2021-02-10 10:34] aamirzaidi commented on #32
@darshanclevertap

[2021-02-10 10:36] #29 closed

[2021-02-10 10:37] darshanclevertap commented on #32
@aamirzaidi
Which version of CleverTap Flutter did you add in `pubspec.yaml`? And which version of the CleverTap Android SDK did you add in the `build.gradle`?

[2021-02-10 10:56] aamirzaidi commented on #32
@darshanclevertap
**In `pubsec.yaml` I added `clevertap_plugin: ^1.2.0`.**
**And in my `app\build.gradle` i added this line of code (as advised from the [plugin page](https://pub.dev/packages/clevertap_plugin) ) :**

        //For CleverTap Android SDK v3.6.4 and above add the following -
        implementation 'com.android.installreferrer:installreferrer:2.1'

[2021-02-10 11:24] aamirzaidi commented on #32
It's solved by adding the line `implementation 'com.clevertap.android:clevertap-android-sdk:3.8.2'`
You somehow didn't added this line in your steps listed on the [plugin page](https://pub.dev/packages/clevertap_plugin).

[2021-02-10 11:24] #32 closed

[2021-02-10 11:47] darshanclevertap commented on #32
@aamirzaidi I'd suggest you update to `implementation 'com.clevertap.android:clevertap-android-sdk:4.0.0'`
We will add this in our documentation

[2021-02-12 15:48] ganeshrvel opened #33 "Unable to test in-app notification in the app."
We have been trying to trigger an in-app notification in the app, it works on the live production version but in the staging the notification isn't appearing.
How do we trigger and debug the in-app notification in the app?

[2021-02-15 10:07] darshanclevertap commented on #33
@ganeshrvel Is your staging version of the app connected to the same CleverTap Account or a different one?

[2021-02-15 10:08] ganeshrvel commented on #33
@darshanclevertap the same

[2021-02-15 10:12] darshanclevertap commented on #33
@ganeshrvel Are you raising the same event for the InApp? Can you share the campaign links for both production and staging campaigns?

[2021-03-01 08:09] ganeshrvel commented on #33
@darshanclevertap do share your official email id to share the campaign urls.

Thanks

[2021-03-19 09:03] ganeshrvel commented on #33
https://in1.dashboard.clevertap.com/8WW-K46-795Z/notification/inapp/action.html?id=1616087346#overview

[2021-03-19 09:28] darshanclevertap commented on #33
@ganeshrvel Sorry for the delay. Can you share the logs for the staging app? As in, what shows up in the Android Studio console logs when you try and send the InApp to the staging app?

[2021-03-22 05:53] ganeshrvel commented on #33
Nothing while trying to fire the test "in app" notifications on staging. There is no console values at all, that's exactly what made me log this issue here.

[2021-03-22 06:14] darshanclevertap commented on #33
You can use `CleverTap.setDebugLevel(3)` either in the first line of `main.dart` or in the Application class of Android.
You'll able to see the console logs then

[2021-03-23 13:07] ganeshrvel commented on #33
I am getting the data now. attaching the log below.

But unfortunately I am unable to use the `setCleverTapInAppNotificationButtonClickedHandler` method to handle the "in-app" notification button tap event.

Code:
[code]

Any reason why we arent able to use `setCleverTapInAppNotificationButtonClickedHandler` ?

Log:
[code]

[2021-04-08 09:00] DhanasManian commented on #7
Hi,
the above issue is happening for iOS. please help me on this. thanks

[2021-04-08 09:07] Aditi3 commented on #7
@DhanasManian, Can you share a demo project where the issue is reproducible with our support team so that we can debug this further.

You can reach out to the CleverTap support team from the CleverTap Dashboard.

[2021-04-08 17:26] DhanasManian commented on #7
@Aditi3 https://github.com/DhanasManian/clevertaptest Please find the link to get the demo project. Please check and let me know. thanks

[2021-04-13 10:38] amgugu111 opened #35 "Navigate to a screen with custom key value pairs."
This is where I activate the handler:

_clevertapPlugin.setCleverTapPushClickedPayloadReceivedHandler(pushClickedPayloadReceived);

This is the method I call:

pushClickedPayloadReceived(Map<String, dynamic> map) {
    var route = '';
    route = map["route"];
    switch (route) {
      case '/profile':
        scheduleMicrotask(() {
          return Navigator.pushReplacementNamed(context, '/profi

[2021-04-13 12:44] amgugu111 commented on #35
Closing the issue, fixed it.

[2021-04-13 12:44] #35 closed

[2021-04-19 13:29] rohit-91 opened #36 "Upgrade gradle wrapper"
Please upgrade your gradle wrapper verison from 4.10 to 6.5 something around it is creating issue with new api versions

[2021-04-20 09:51] epynic commented on #13
Can you please share the custom listener ?

[2021-04-28 06:54] robbin7ramos opened #41 "Null Safety and Web support"
please add support to null safety and also as flutter web now added to the stable channel, its also better to support it.
Thanks thanks

[2021-05-07 06:58] epynic commented on #35
How was this fixed @amgugu111 ?

[2021-05-10 14:53] aldychris opened #42 "MissingPluginException when call CleverTapPlugin.setPushToken(token)"
It's throw me Exception when trying setPushToken on iOS(Simulator) by use this function

`CleverTapPlugin.setPushToken(token)`

`{MissingPluginException(No implementation found for method setPushToken on channel clevertap_plugin)}`

On iOS I only can found that related to set PushToken
`if ([@"setPushTokenAsString" isEqualToString:call.method])`

but I can't find function to call that function in

[2021-05-11 03:24] Aditi3 commented on #42
Thank you @aldychris  for reporting to us. Please allow me some time to re-check the same at my end and I will get back to you with an update shortly.

Meanwhile, could you try using `registerForPush` method for enabling push notification support on the iOS platform.

Example usage for the same can be found [here](https://github.com/CleverTap/clevertap-flutter/blob/master/example/lib/main.dart#L32

[2021-05-11 14:13] sanjayvramani opened #43 "java.lang.ClassCastException: com.clevertap.android.sdk.Application cannot be cast to android.app.Activity"
When i open the application or click on clevertap notification, i get error message like this:

E/CleverTapPlugin( 8259): Exception while running on main thread -
W/System.err( 8259): java.lang.ClassCastException: com.clevertap.android.sdk.Application cannot be cast to android.app.Activity
W/System.err( 8259): at com.clevertap.clevertap_plugin.CleverTapPlugin.runOnMainThread(CleverTapPlugin.java:1

[2021-05-12 07:37] Aditi3 commented on #42
Yes,`registerForPush` and the aforementioned code snippet will resolve the issue for you.

[2021-05-12 12:57] #42 closed

[2021-05-12 16:57] darshanclevertap commented on #43
@sanjayvramani Can you help us with the steps to reproduce this? Is this happening on every push notification or every app launch?

[2021-05-13 06:33] sanjayvramani commented on #43
I am getting this one on every app launch and every push notification click. I am using clever tap version 1.2.1 , flutter version 2.0.6 and firebase_messaging 9.1.3

[2021-05-17 05:27] saswatsaubhagya commented on #41
When can we expect the same ??

[2021-05-17 05:28] epynic opened #44 "In-App Messages shows up as notification"
Have created an Campaign in CleverTap - Mobile In-app, Single Message
And as per the campaign preview we expect to see a pop up modal with the message,

![image](https://user-images.githubusercontent.com/2527481/118436342-49bcf200-b6fe-11eb-8a28-a2054fd55890.png)

While testing the campaign, we receive a Notification instead
![image](https://user-images.githubusercontent.com/2527481/118436103-cdc2

[2021-05-17 05:33] aldychris commented on #43
Im also have this issue, it's always throw exception every time app laugh, push notification click or inAppNotification clicked. I'm using flutterEmbedding 2 on Android
[code]

[2021-05-17 05:57] darshanclevertap commented on #41
@saswatsaubhagya @robbin7ramos We're working on updating our Flutter plugin to 2.0 for null safety first. I'll be able to share release timelines with you in a few days. As for Web support, we're still a long way away as we do not have the base for web support ready in this plugin, but nonetheless, we'll take this into consideration soon.

[2021-05-17 06:21] aldychris opened #45 "Can't get custom key-values data when click on InAppMessages"
When I'm click on image for Interstitial type of InAppMessages with custom key-values pair then it's throws error of `InternalLinkedHashMap<dynamic, dynamic> is not subtype of type Map<String,String>`

The data not reflect in
.setCleverTapInAppNotificationButtonClickedHandler((map) {
  //Didn't get my custom key & value here
});

[2021-05-17 06:52] william-ct commented on #44
Hi @epynic , campaigns which are being tested for in-app messages work as expected as above.However, live campaigns will render the in-app notifications as an in-app message rather than a notification.Thanks!

[2021-05-17 07:05] darshanclevertap commented on #45
@aldychris Can you share the logs of the error that shows up on the Android Studio console?

[2021-05-17 07:17] epynic commented on #44
@william-ct  It is the same console error for live campaigns, are we missing something ?

![image](https://user-images.githubusercontent.com/2527481/118446951-d15e2d00-b70d-11eb-850c-3088d0e6b584.png)

This is on Android using the latest clevertap plugin

[2021-05-17 11:21] william-ct commented on #44
Hi @epynic what's the superclass of your MainActivity?

[2021-05-17 11:44] epynic commented on #44
@william-ct
The MainActivity file
![image](https://user-images.githubusercontent.com/2527481/118483017-22344c80-b733-11eb-99dc-a266dce6fee1.png)

AndroidManifest.xml
![image](https://user-images.githubusercontent.com/2527481/118483123-48f28300-b733-11eb-85d8-23ce69ef423b.png)

[2021-05-18 04:02] aldychris commented on #45
here my logs
[code]

On log didn't show any error but here the screenshoot when I try to debug it
![Screen Shot 2021-05-16 at 7 37 38 PM](https://user-images.githubusercontent.com/1201883/118588015-2bbfc200-b7d0-11eb-8628-e527dcd1a01b.png)

It's simple fixes on my fork branch with this commit https://github.com/aldychris/clevertap-flutter/commit/d67bee00f9a9c561c71bb765265b6fca14280a21

basically

[2021-05-19 10:36] yashpalzala opened #46 "Push notification title and body null which results in notification not being rendered while app is in Background OR Closed"
I'm trying to implement push notifications from Clevertap on my android device.
I'm getting the push notification but the title and body of the notification is null and thus android does not show the notification.
![cltap-notif](https://user-images.githubusercontent.com/54407840/118799147-07411400-b8bc-11eb-9fe7-4710f83ba908.jpg)

So how do I send title and body ??

[2021-05-19 12:32] darshanclevertap commented on #46
@yashpalzala CleverTap Push notification payload is sent in the data object of the FCM Push. Are you trying to custom render the Push Notifications? Have you added the `FcmMessageListenerService` class in your `AndroidManifest.xml`?

[2021-05-19 12:39] yashpalzala commented on #46
Yes, I added FcmMessageListenerService but after adding this service fcm's onMessage, onLaunch , onResume are not executing so I had to remove the FcmMessageListenerService
![cltap-git](https://user-images.githubusercontent.com/54407840/118813698-09f83500-b8cd-11eb-83e0-5ff3aabac289.jpg)

[2021-05-19 12:41] yashpalzala commented on #46
And anyways android does not show notifications if the title and body is null , right ?

[2021-05-19 16:11] darshanclevertap commented on #46
@yashpalzala if you're using FCM's `onMessage`, `onLaunch` , `onResume`, I'd suggest you extract the data object from the CleverTap Push Notification payload and call the method `createNotification` provided by the CleverTap Flutter Plugin to render the push notifications

[2021-05-19 16:24] yashpalzala commented on #46
Yes but that is when app is in foreground . What about when app is in
background OR closed . How can I show notification then ?

On Wed 19 May, 2021, 9:42 PM Darshan Pania, ***@***.***>
wrote:

[2021-05-19 16:25] darshanclevertap commented on #44
@epynic Our Header and Footer InApp templates in Android are Fragments. Now Fragments are only allowed to be created on Activities that extend FragmentActivity or AppCompatActivity. Meanwhile, the base Activity of any Flutter app is FlutterActivity.

FlutterActivity does not extend either of them and hence because of this technical issue, Header and Footer InApp templates will currently not work o

[2021-05-19 16:27] darshanclevertap commented on #46
FCM provides the `onBackgroundMessage` method as well. You can call the same `createNotification` CleverTap method in that method

[2021-05-19 16:29] darshanclevertap commented on #45
@aldychris Thank you for helping out with the fix, we'll be incorporating these changes in the next release due on Friday.

[2021-05-19 16:31] darshanclevertap commented on #43
@sanjayvramani We'll be fixing this in the next release due Friday

[2021-05-19 16:32] darshanclevertap commented on #41
@saswatsaubhagya @robbin7ramos We'll be supporting Flutter v2.2 and null safety in the upcoming release due on Friday

[2021-05-19 16:33] darshanclevertap commented on #36
@rohit-91 this will be updated with the next plugin version due release on Friday

[2021-05-19 16:34] darshanclevertap commented on #33
@ganeshrvel there was an issue with the return type in `setCleverTapInAppNotificationButtonClickedHandler`. This will be fixed in the upcoming version due release on Friday

[2021-05-19 16:35] darshanclevertap commented on #30
@gouravd this will finally be release in the next version due release on Friday

[2021-05-19 16:45] epynic commented on #46
using `createNotification` how can get the custom data(key-value) sent from clevertap ?

[2021-05-19 17:21] yashpalzala commented on #46
@epynic createNotification is to render the notification
if you want to access data then you can do message[data].
So the whole structure would be like ,
 onMessage: (var message) async {
        fcm = Fcm.fromJson(message);
        print("CleverTap Push notif ---- $message");
        CleverTapPlugin.createNotification(jsonEncode(message['data']));
        }

[2021-05-19 17:30] darshanclevertap commented on #46
@yashpalzala As per [FCM Flutter docs for Background Messages](https://firebase.flutter.dev/docs/messaging/usage/#background-messages) you can implement the global method `_firebaseMessagingBackgroundHandler ` and in that method you can call the `createNotification` of CleverTap

[2021-05-19 17:37] epynic commented on #46
@yashpalzala @darshanclevertap , agreed in `onBackgroundMessage`  / `_firebaseMessagingBackgroundHandler`  we can use `CleverTapPlugin.createNotification()` to create the notification. ( when the app is closed/background)

suppose when we tap/open the notification created by clevertap, we would like to  route to a specific page based on the custom data (key value) - how can we  get the custom data

[2021-05-19 17:43] yashpalzala commented on #46
Ok I got your point @darshanclevertap  .
But if you read this line it states  --- Once displayed, the background handler will be executed (if provided).
in the documentation https://firebase.flutter.dev/docs/messaging/usage/#notifications

So this means that onBackgroundMessage() only executes if the notification is being displayed , but if the notification has title and body null then notificatio

[2021-05-19 18:11] yashpalzala commented on #46
@epynic  Have you tried this (onBackgroundMessage) method to get notification when the app is closed can you please share an example .

@epynic message is a map so you can get any custom value by doing var myCustomValue = message['data']['myCustomDataKey'] and then navigate user accordingly

[2021-05-20 05:08] epynic commented on #46
you use `CleverTapPlugin.createNotification()` to create notification, now when you click on the notification you need to route the user to the page, and there is no way to get custom value in flutter.

There is a closed issue https://github.com/CleverTap/clevertap-flutter/issues/13 that mentions the same use case, and to fix this we need to use custom-listeners, and this custom-listeners is custo

[2021-05-20 05:09] epynic commented on #44
@darshanclevertap thank you for acknowledging , waiting for the fix!

[2021-05-20 05:48] darshanclevertap commented on #46
@epynic You can get the custom value after clicking the notification using the `setCleverTapPushClickedPayloadReceivedHandler`. This will give you the entire Push Notification payload as sent from CleverTap in the form of a Map.

[2021-05-20 05:56] darshanclevertap commented on #46
@yashpalzala I did read that, but under the [Message Types](https://firebase.flutter.dev/docs/messaging/usage/#message-types) section, they say that to handle Data messages in the Terminated state, you can use the `onBackgroundMessage` as well. Could you please try it out once? If you face issues, we will try to help you resolve them. 😇

[2021-05-20 10:15] yashpalzala commented on #46
@darshanclevertap Ok I did as you suggested.

While in the background I'm able to get the data from the payload but create notification seems to be missing plugin implementation which is unexpected as I have implemeted clevertap SDK ---

implementation 'com.clevertap.android:clevertap-android-sdk:4.0.0'

![image](https://user-images.githubusercontent.com/54407840/118960079-8b5ccf80-b980-11eb-841f-

[2021-05-20 10:19] epynic commented on #46
Can you check if notifications sent from firebase cloud messaging work ?

[2021-05-20 11:01] darshanclevertap commented on #46
@yashpalzala [This flutter issue](https://github.com/flutter/flutter/issues/28000#issuecomment-471004309) says that you need to delete the build folder and relaunch the app

[2021-05-20 11:26] darshanclevertap commented on #44
@epynic There is a workaround if you wish to try, you can extend your App's MainActivity from FlutterFragmentActivity instead of FlutterActivity. This will have almost no side effects on your app and it will ensure CleverTap's Header & Footer InApp templates can be used by your app. Please try it once and let us know if it works for you.

[2021-05-20 19:08] yashpalzala commented on #46
@darshanclevertap As you uggested I deleted the build folder and relaunched the app and still the error persists

![image](https://user-images.githubusercontent.com/54407840/119034985-b1a85c80-b9cc-11eb-8c6d-d69b20766eac.png)

![image](https://user-images.githubusercontent.com/54407840/119035054-c71d8680-b9cc-11eb-9c39-7fa2b0f438f5.png)

[2021-05-21 10:46] #12 closed

[2021-05-21 10:46] #36 closed

[2021-05-21 10:46] #45 closed

[2021-05-21 10:52] yashpalzala commented on #46
@darshanclevertap  Any updates regarding the issue ??
I think if we are able to solve the missing plugin exception than we might be able to get notifications .
Because missing plugin exception does not come if the App is in foreground.

[2021-05-21 12:40] darshanclevertap commented on #26
This has been fixed in CT Flutter Plugin v1.2.2

[2021-05-21 12:40] #26 closed

[2021-05-21 12:40] darshanclevertap commented on #30
This has been fixed in CT Flutter Plugin v1.2.2

[2021-05-21 12:40] #30 closed

[2021-05-21 12:41] darshanclevertap commented on #33
This has been fixed in CT Flutter Plugin v1.2.2

[2021-05-21 12:41] #33 closed

[2021-05-21 12:41] darshanclevertap commented on #43
This has been fixed in CT Flutter Plugin v1.2.2

[2021-05-21 12:41] #43 closed

[2021-05-21 12:41] darshanclevertap commented on #41
Null Safety has been added in CT Flutter Plugin v1.2.2

[2021-05-21 12:41] #41 closed

[2021-05-21 12:43] darshanclevertap commented on #44
@epynic Did you try the workaround? You can check out the [MainActivity](https://github.com/CleverTap/clevertap-flutter/blob/master/example/android/app/src/main/java/com/example/clevertap_plugin_example/MainActivity.java) of the example project for reference

[2021-05-21 12:46] darshanclevertap commented on #46
@yashpalzala Can you initialize the CleverTap Plugin once before calling the `createNotification` method in the `onBackgroundMessage`?

[2021-05-21 13:15] yashpalzala commented on #46
@darshanclevertap

![image](https://user-images.githubusercontent.com/54407840/119142153-c552d200-ba63-11eb-8ea6-accad652b418.png)

![image](https://user-images.githubusercontent.com/54407840/119142891-9c7f0c80-ba64-11eb-9c9b-8a9d7c3bfa3c.png)

Still the same error

[2021-05-22 10:48] epynic commented on #46
@darshanclevertap

Thats the Log when then notification is sent

![image](https://user-images.githubusercontent.com/2527481/119223769-d3165f00-bb18-11eb-94fe-dbe288c15396.png)

and on notification click we just see the below log

`I/CleverTapResponse(18180): Done processing response!`

as mentioned `setCleverTapPushClickedPayloadReceivedHandler` is not invoked

[2021-05-22 10:49] epynic commented on #46
old firebase plugin ?

[2021-05-22 11:03] epynic commented on #44
@darshanclevertap - worked like a charm! Thanks :)

is there a way to handle custom key-value pair data on Button clicks ?

[2021-05-22 12:44] yashpalzala commented on #46
@epynic This error has nothing to do with firebase . The problem is that when App is onBackground it is not able to find cleveTap SDK .
Are you able to show notifications successfully when the application is Terminated OR onBackground ??

[2021-05-22 12:49] epynic commented on #46
Yes it does @yashpalzala

[2021-05-22 13:22] yashpalzala commented on #46
@epynic Can you please elaborate ??

Also if you have done the integration why don't you share it . Would be a
great help.

On Sat 22 May, 2021, 6:19 PM epynic, ***@***.***> wrote:

[2021-05-24 09:34] sanjayvramani opened #51 "unable to detect/implement notification click in flutter"

[2021-05-24 10:13] epynic commented on #46
Yes, `FirebaseMessaging.onBackgroundMessage`
![image](https://user-images.githubusercontent.com/2527481/119332592-6cbf4700-bca6-11eb-80f1-70107aa210c9.png)

And the Remote handler
![image](https://user-images.githubusercontent.com/2527481/119332647-819bda80-bca6-11eb-8f54-0554472e313c.png)

Works fine for me, only problem we are not able to get the custom key-value data,

[2021-05-24 10:21] darshanclevertap commented on #51
@sanjayvramani Can you explain what the issue is? Just opening an empty issue is not going to help us or the other devs using this plugin.

[2021-05-24 10:23] darshanclevertap commented on #44
@epynic Do you mean button click of the InApp notification?

[2021-05-24 10:26] epynic commented on #44
Yes, the custom key-value pair data

![image](https://user-images.githubusercontent.com/2527481/119334262-86618e00-bca8-11eb-829b-3423f322047e.png)

[2021-05-24 10:42] darshanclevertap commented on #44
@epynic Have you implemented the `setCleverTapInAppNotificationButtonClickedHandler ` as shown [here](https://github.com/CleverTap/clevertap-flutter/blob/master/example/lib/main.dart#L57)?

[2021-05-25 05:14] sanjayvramani commented on #51
I am able to detect notification using FirebaseMessaging.onMessage.listen and FirebaseMessaging.onBackgroundMessage, but FirebaseMessaging.onMessageOpenedApp.listen is not working while opening/click on notification.

[2021-05-25 05:48] epynic commented on #44
@darshanclevertap

Using the custom render in the manifest files
[code]

we are able to receive the InApp messagings and Push notifications, while sending custom key-pair value data is not reflected in  `setCleverTapPushClickedPayloadReceivedHandler` or `setCleverTapInAppNotificationButtonClickedHandler`

Is there anything we am missing out ?

[2021-05-25 06:55] darshanclevertap commented on #51
@sanjayvramani And how did you conclude that the issue is with the CleverTap Flutter plugin? Do you have any logs?

[2021-05-25 07:01] darshanclevertap commented on #44
@epynic No, this should be it. Are you testing it on an emulator or a device? If you're using a device, can you disable battery optimizations for your app and test it once?

[2021-05-25 08:57] sanjayvramani commented on #51
When i am sending notification from clevertap panel , notification receive is detected by FirebaseMessagin.onMessage (when app in foreground) and FirebaseMessaging.onBackgroundMessage(when app in background).

[2021-05-25 09:30] sanjayvramani commented on #51
When i am sending notification from clevertap panel , notification receive is detected by FirebaseMessagin.onMessage (when app in foreground) and FirebaseMessaging.onBackgroundMessage(when app in background).

[2021-05-25 12:02] epynic commented on #44
@darshanclevertap

the minimal [main.dart](https://gist.github.com/epynic/297e531c3d98f86d3b3c352bad245d4f#file-main-dart)

This is on android physical device there is no battery optimisations enabled.

Log when the Push Notification is sent

![Screenshot 2021-05-25 at 5 18 19 PM](https://user-images.githubusercontent.com/2527481/119494066-8469fe80-bd7e-11eb-9f8c-8d953e4fd068.png)

On notification

[2021-05-28 09:22] mrtarunsaraswat opened #52 "Functionality to change the default font size and family in style config."
In our App we want to set same font family for app inbox, is there any way to implement it or any param which we can pass in style config. If not can you implement the small functionality at the earliest.

[2021-06-01 09:16] epynic commented on #46
@yashpalzala did you get this working ?

[2021-06-01 09:17] epynic commented on #44
@darshanclevertap  - help ?

[2021-06-03 06:34] darshanclevertap commented on #44
@epynic Sorry for the delay. Can you try calling `activateCleverTapFlutterPluginHandlers` inside `_firebaseMessagingBackgroundHandler`? My guess is that the `setCleverTapPushClickedPayloadReceivedHandler` is not set when the App Launches after clicking a notification. This causes the `Notification Clicked` event to be raised as per the logs but there is no callback to the dart file.

[2021-06-03 06:41] darshanclevertap commented on #52
@sky1095 Here is the [POJO class](https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-core/src/main/java/com/clevertap/android/sdk/inbox/CTInboxMessage.java) for CTInboxMessage.

`getAllInboxMessages` returns a List of Inbox Messages. You can find the [usage here in the Example project](https://github.com/CleverTap/clevertap-flutter/blob/93ddf67f538d22f6de8a661456a5af23a850bc0

[2021-06-08 05:31] epynic commented on #44
@darshanclevertap  is the same behaviour,setCleverTapPushClickedPayloadReceivedHandler or setCleverTapInAppNotificationButtonClickedHandler are not triggered.

The only was we could get this working is by removing the firebase cloud messaging plugin.
But this is not the intended behaviour we are look for - we would need firebase cloud-messaging to work along side with clevertap.

[2021-06-16 13:46] saswatmoo opened #54 "Null exception for recordScreenView call"
I got an exception when over we call CleverTapPlugin.recordScreenView("Screen name");

I am using clevertap_plugin: 1.2.2, flutter 2.2.2

`E/MethodChannel#clevertap_plugin(13623): Failed to handle method call
E/MethodChannel#clevertap_plugin(13623): java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference
E/MethodChannel#cleve

[2021-06-17 05:54] sanjayvramani opened #55 "Implementation of Notification"
1. I want to receive push messages but don't want to show notification while app is in foreground.
2. I want to show notification when app is in background/killed state.
3. I want to call user defined function while click on notification.
4. How i find that received push message is Simple Notification or InApp Notification.

I am using the flutter for the same. How can i implement above things usi

[2021-06-17 05:58] darshanclevertap commented on #55
@sanjayvramani Your questions are very generic? Do you want to implement the above using CleverTap or do you want to learn how to implement using Flutter?

[2021-06-17 05:59] sanjayvramani commented on #55
I implemented it, but did not get success on it. So i want the help about the same. I also followed example.

[2021-06-17 06:07] darshanclevertap commented on #55
@sanjayvramani Using CleverTap directly, you will not be able to implement these custom requirements. I would suggest you implement the firebase plugin and then intercept the payload received on your end to fulfill your requirements.

[2021-06-24 04:46] ashish-pcode commented on #54
Getting the same issue. Please resolve it @darshanclevertap @Aditi3

[2021-06-25 05:07] arlakay commented on #43
Hi, i got this issue to, i was try using 1.2.0 & 1.2.1 version
i can't update to 1.2.2 , because using flutter 1.22.6 dart version 2.10.5

I/flutter (12746): ╚══════════════════════════════════════════════════════════════════════════════════════════
V/CleverTap(12746): New Notification Inbox messages added
E/CleverTapPlugin(12746): Exception while running on main thread -
W/System.err(12746): java

[2021-06-25 06:11] darshanclevertap commented on #43
@arlakay Any reason why you cannot move to null safety as of now? v1.2.2 is the null safe version and Google is recommending that everyone move to the null safe version.

[2021-06-25 06:12] darshanclevertap commented on #54
@saswatmoo Yes, this is currently an issue with our native SDK, the Flutter plugin is a wrapper on top of our native SDK. We will be fixing this soon. I'll keep you posted on the timelines for the same.

[2021-06-25 06:13] #55 closed

[2021-06-25 06:13] #52 closed

[2021-06-25 06:13] darshanclevertap commented on #51
Closing this due to inactivity

[2021-06-25 06:13] #51 closed

[2021-06-25 06:14] #46 closed

[2021-06-25 06:42] arlakay commented on #43
hi, my project using many dependencies, to migrate to null safety i must update all the dependencies first , its takes time.
if i using 1.2.1 what must change to solve the error ?

[2021-07-02 08:36] kianutama opened #57 "Clevertap background notification not doing anything after clicked"
Hi, i have some problems when trying to implement clevertap notification, especially on the background notification. I used `clevertap 1.2.2` and `firebase messaging 9.1.4` for my flutter app that runs on `flutter 2.2.0` and I have been trying to process clevertap background notifications on my app. I already implemented firebase messaging handler to process the notification and I can receive noti

[2021-07-11 13:08] amgugu111 commented on #54
Any progress on this? @darshanclevertap

[2021-07-15 13:21] amgugu111 commented on #57
Same issue with me. Any update?

[2021-07-16 07:10] nafas-natasha opened #58 "CleverTap Plugin 1.2.2 NullPointerException"
Hello, I've been using the clevertap plugin for Flutter version 1.2.0 since last year to use Native Display, Push Notification, and In App Message campaign. Then I updated it last month to version 1.2.2. Ever since the update, I have been receiving crash report caused by NullPointerException in CleverTapPlugin.java on my app Firebase Crashlytics dashboard. This never happened before with version 1

[2021-07-20 14:12] william-ct commented on #54
@amgugu111 This issue has been fixed in [v1.2.3](https://github.com/CleverTap/clevertap-flutter/releases/tag/1.2.3).

[2021-07-20 14:12] #54 closed

[2021-07-20 14:14] #58 closed, assigned to nobody

[2021-07-21 04:05] nafas-natasha commented on #58
Thank you! will try it again.

[2021-08-18 12:52] diego-lipinski-de-castro opened #60 "Add example with kotlin"
Please add example of integrating in Android with kotlin

[2021-08-23 11:41] akshaybhange commented on #60
Yes please. My App is not building after updating my `MainActivity.kt`

[code]

Logcat

[code]

[2021-08-23 13:20] tlworkssoftware opened #61 "NullPointerException - CleverTap Plugin 1.2.3"
I've been using the clevertap plugin for Flutter version 2.2.3 to use Native Display, Push Notification, and In App Message campaign. I'm getting this error both on the google play dashboard and on crashlytics.

[code]

[2021-08-31 09:20] dj-wedig commented on #60
ActivityLifecycleCallback.register(this.application);

Use this line for Kotlin. And don't forget to include "com.clevertap.android.sdk.ActivityLifecycleCallback" as import.

[2021-09-05 14:05] bironader opened #63 "clever tap configuration"
how to init clevertap with account and token in the run time ?

Is there any way to init the clever tap API with account id and token in flutter directly?

[2021-09-09 06:17] darshanclevertap commented on #63
Hi, @bironader sorry for the delay.
Currently, there is no such way since our flutter SDK.
I'll take this up as an enhancement request and try to get this prioritized internally.

[2021-09-09 06:24] darshanclevertap commented on #61
@tlworkssoftware Were you able to reproduce this on your device?

[2021-09-09 06:26] darshanclevertap commented on #60
@diego-lipinski-de-castro We will consider migrating the sample app from Java to Kotlin. Meanwhile, if you're facing any issues, please open this thread again to give us details.

@akshaybhange the solution provided by @dj-wedig will work.

Closing this thread as of now.

[2021-09-09 06:26] #60 closed

[2021-09-09 06:32] darshanclevertap commented on #57
@kianutama Sorry for the delay here. Can you please explain the way you're rendering the push notification via CleverTap? Are you calling `createNotification` method of CleverTap inside `onBackgroundMessage` method of Firebase?

If you could share some code snippet, it would help us in understanding this better

[2021-09-14 05:28] sunilm316 opened #67 "How to support multiple SDK instance"
Need to create multiple instances for push to multiple app with different app ids, How to do that?

[2021-09-14 05:31] darshanclevertap commented on #67
@sunilm316 Can you explain the use case a bit more? Do you have two CleverTap accounts inside the same app? And you want to send push via both?

[2021-09-14 05:43] sunilm316 commented on #67
We support multiple countries in a single app, the thing is when we switches one country to another we've written some push events, so this push events should be triggered to respective CleverTap accounts.

[2021-09-15 10:25] darshanclevertap commented on #67
@sunilm316 Unfortunately we do not have multi-instance support in our Flutter SDK. I'd suggest you reach out to our support team via the dashboard or your dedicated CSM (if you have one) and raise this with them. They'll be able to provide you a workaround for your use case.

[2021-09-15 11:28] snghnishant opened #68 "Flutter project with Kotlin config example"
Please update the documentation or add a branch for this example project using flutter with Kotlin as the compile language

[2021-09-15 12:31] sunilm316 commented on #67
How CleverTap instances created in flutter sdk?

[2021-09-23 18:11] ganeshrvel opened #69 "In app notifications are not getting triggered."
We are setting up in-app pop up notifications campaigns on CleverTap for a timed events and the notifications are not getting triggered. We have been trying to reach out to you and have raised tickets, can you please help us out with the issue with in-app notifications.

From what we have noticed is that the in app notifications do get triggered for certain events but almost 3 hours later and 30 t

[2021-09-23 18:14] sarthakkundra commented on #69
I'm experiencing this too. Would be great if this can be fixed ASAP. Thanks.

[2021-09-27 11:42] tlworkssoftware commented on #61
Not on my device @darshanclevertap , but Google Play reports an average of 100 errors every 2 hours. I have a base of ~200k users.

[2021-10-04 07:20] darshanclevertap commented on #44
@epynic We will be working on ensuring that Firebase cloud messaging and the CleverTap Flutter plugin do work together seamlessly but for now, this is the only way we have.

Closing this for now.

[2021-10-04 07:20] #44 closed

[2021-10-04 07:24] darshanclevertap commented on #67
@sunilm316 CleverTap instance is created with the Account ID and Account token mentioned in the `AndroidManifest.xml` in Android and the` Info.pList` file in iOS.

[2021-10-04 07:30] darshanclevertap commented on #61
@tlworkssoftware We will take a further look into this and give you an update soon.

[2021-10-04 07:33] darshanclevertap commented on #68
@snghnishant We have noted this as an enhancement into our Flutter roadmap. We will be adding Kotlin code snippets into our documentation soon.

[2021-10-04 07:35] darshanclevertap commented on #69
@ganeshrvel First thing, has this been taken up by our support team? If yes, I would suggest if you could provide the ticket number so that we can prioritize this on our end.

Nothing major has changed from the InApp perspective in the CleverTap Flutter SDK and this could be related to something else altogether.

[2021-10-04 07:37] darshanclevertap commented on #57
Closing this for now. Please reopen the issue if you have any new inputs.

[2021-10-04 07:37] #57 closed

[2021-10-06 10:44] Irfan-KV opened #70 "setCleverTapPushClickedPayloadReceivedHandler not called when app is cold started from a push notification"
The requirement is to receive key-value pair from the push notification, and navigate to the required page. It works fine when the app is in background or foreground. But when the app is killed and we open the notification, the handler is not called.

[2021-10-06 20:50] snghnishant opened #71 "Notification not rendering in app taskbar for background/terminated app"
Flutter 2.2.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 02c026b03c (4 months ago) • 2021-05-27 12:24:44 -0700
Engine • revision 0fdb562ac8
Tools • Dart 2.13.1
firebase_messaging: ^10.0.0
clevertap_plugin: 1.3.0

[2021-10-06 21:07] snghnishant opened #72 "Flutter(Android) integration documentation OUTDATED"
Code-level integration for Clevertap SDK in flutter apps is outdated.
Suggested changes:-
Move Changelogs updates on the Android part of integration for flutter as mentioned here [CHANGELOGS SDKv4](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md)

[2021-10-06 21:16] snghnishant commented on #71
Would like to know what does this `CleverTapPlugin.createNotification(data)` actually do and why it's needed to be invoked? It's very difficult to integrate your SDK without any proper documentation. Also, the documentation is a bit outdated as per the latest Cleveratap SDK integration available for flutter. So have created the issue for the same.

[2021-10-22 15:18] CamronLDNF opened #73 "Not possible to add application to AndroidManifest.xml"
I've gone through your [Flutter SDK](https://developer.clevertap.com/docs/flutter-sdk) to integrate CleverTap in our Flutter app. Are the instructions up to date? The [Android integration](https://developer.clevertap.com/docs/flutter-sdk#section-android) section says:

`If you do not have an Application class, add this to your AndroidManifest.xml`
[code]

The problem is that it is not possible to

[2021-11-01 10:55] tlworkssoftware commented on #61
@darshanclevertap any update?

[2021-11-09 04:33] Irfan-KV opened #75 "Unable to install app on Android 12 due to absence of android:exported in manifest"

[2021-11-09 04:34] Irfan-KV commented on #75
Failure [INSTALL_PARSE_FAILED_MANIFEST_MALFORMED: Failed parse during installPackageLI: /data/app/vmdl1559462715.tmp/base.apk (at Binary XML file line #150): com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService: Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when intent filters are present]

[2021-11-09 05:36] william-ct commented on #75
Hi @Irfan-KV, We will be shipping Android 12 support for CleverTap's Flutter SDK soon.Will let you know once we have shipped with the new version of the SDK👍

[2021-11-11 20:16] CamronLDNF commented on #73
@darshanclevertap the solution was actually much simpler (or so it seems). Your documentation states:

`If you do not have an Application class, add this to your AndroidManifest.xml`

The word "**add**" in your instructions is what through me off. Apparently there can be only **one** `android:name` attribute, which is the class that is instantiated before any of the application's components. Inste

[2021-11-11 20:16] #73 closed

[2021-11-11 20:48] CamronLDNF opened #76 "User attributes not registering when running Flutter app on iOS"
I'm using `clevertap_plugin: 1.3.0`.

To register the user properties, I'm using the `onUserLogin` method. This is what the code looks like (with sample values).

[code]

When I run the app on Android, the user properties are registered correctly. When I run the app on iOS (both in emulator and on physical device), the top-level properties (name, email, etc.) and communication preferences are regi

[2021-11-12 03:02] Aditi3 commented on #67
Closing it, feel free to reopen if you need further help.

[2021-11-12 03:02] #67 closed

[2021-11-12 05:22] tyfoo1603 opened #77 "Android InAppMessage response different with iOS"
When I called CleverTapPlugin.getAllInboxMessages() in iOS, the response returned List of Map<String, dynamic>.
But when called this api in Android, it returned Map<String, String>.

Anyway to force Android return Map<String, dynamic> instead of Map<String, String> type? To make them consistent and ease for json conversion.

<img width="400" alt="Screenshot 2021-11-12 at 11 46 16 AM" src="https://

[2021-11-14 10:56] CamronLDNF opened #78 "Not receiving push notifications when running Flutter app on iOS"
I'm using clevertap_`plugin: 1.3.0`.

I have followed your Flutter sdk documentation and read through the **Push Notifications** sections of your Android sdk and iOS sdk documentation as well. When I send notifications, they arrive on Android but not on iOS. How do I resolve this?

I saw [this earlier issue](https://github.com/CleverTap/clevertap-flutter/issues/2) that seems to be related. It says

[2021-11-14 11:29] CamronLDNF opened #79 "Large icon appearing in push notification on Android even when turned off"
See the screenshots below. I have the large icon turned off in the push notification settings, but it still appears in the notification that I receive. Not a blocker issue but it should be adressed at some point.

**The settings**
![image](https://user-images.githubusercontent.com/43792384/141678915-df8d6e65-3d6c-49c7-b9a5-1fb7db7f0431.png)

**The notification**
![Screenshot_20211114-122534](https

[2021-11-15 10:53] snghnishant commented on #71
@darshanclevertap quick update: now we are able to see the notification getting rendered in system UI tray, you can close this issue. Thanks!

[2021-11-15 11:14] darshanclevertap commented on #71
@snghnishant Before I close the issue, can you share what you have done so that it can help our other users as well?

[2021-11-15 11:43] snghnishant commented on #71
@darshanclevertap Eventually It started working today when I tried pushing the notification from the CleverTap dashboard on my FCM token. No changes were made for this. I'll have my custom docs for CleverTap integration linked here with code later for handling the redirects in all three app state(Background, Terminated, Foreground) after testing it on iOS too.

[2021-11-16 08:18] snghnishant commented on #46
Hey, @darshanclevertap even I tried all this to get the Notification Data for redirecting when the app is in the background or terminated state. This is still not working at all can you please re-open this issue so we can have further discussion in regards to this.

When the app is in Foreground I am able to get the message payload in `FirebaseMessaging.onMessage.listen((RemoteMessage message) {..

[2021-11-16 08:23] snghnishant opened #80 "Unable to get message payload for handling notification Redirects"
Hey, @darshanclevertap I have tried all the mentioned solutions in #46 to get the Notification Data for redirecting when the app is in the background or terminated state and this is still not working at all.

When the app is in Foreground I am able to get the message payload in `FirebaseMessaging.onMessage.listen((RemoteMessage message) {...}` and handle redirections through our custom made alert

[2021-11-16 08:36] darshanclevertap commented on #69
Closing this due to inactivity. Feel free to reopen.

[2021-11-16 08:36] #69 closed

[2021-11-16 08:44] darshanclevertap commented on #79
By default, the CleverTap SDK shows the app icon as the large icon. The large icon switch on the dashboard is provided in case you want to show some other icon apart from the app icon.

[2021-11-16 09:03] Aditi3 commented on #76
Hi @CamronLDNF

I verified the aforementioned behaviour for the iOS platform and appears that if you pass the date format as follows then it should work as expected.

[code]

<img width="1174" alt="User-props" src="https://user-images.githubusercontent.com/11608002/141938329-a2d43e1b-e9b6-4272-b7b7-5be0c3abcc1d.png">

[2021-11-16 09:05] Aditi3 commented on #78
Hey @CamronLDNF This looks like an integration issue. Request you to raise a support ticket from the CleverTap dashboard so that we can further deep dive into this issue and assist you.

[2021-11-16 09:16] #79 closed

[2021-11-16 09:16] CamronLDNF commented on #79
@darshanclevertap I think the default should be to NOT show any large icon at all. Or at least provide an option for hiding the the default large icon. Otherwise as you see in the above screenshot, unless I provide some other large icon (which we shouldn't have to do for each notification) or create a separate channel with a separate small icon, our app icon is displayed twice in the same notifica

[2021-11-16 09:18] darshanclevertap commented on #80
@snghnishant Are you sending the push via FCM or via CleverTap dashboard?

[2021-11-16 09:18] #71 closed

[2021-11-16 09:20] darshanclevertap commented on #70
This is a limitation of Flutter. When the app is cold started, we cannot set the callback for `setCleverTapPushClickedPayloadReceivedHandler` on the Flutter/Dart side of the app. The native side callback is already set but when it tries to provide the data to Flutter/Dart, since the app is cold-starting we cannot pass it.

[2021-11-16 09:21] #70 closed

[2021-11-16 09:23] darshanclevertap commented on #79
@CamronLDNF Noted. I will raise this with our product team.

[2021-11-16 09:23] snghnishant commented on #80
We have integrations for both FCM and CleverTap, we are using FCM for user-level notification that we push from our custom dashboard/backend. This notification was pushed from the CleverTap dashboard.

[2021-11-16 09:29] william-ct commented on #61
Hey @tlworkssoftware @macortesn , Are you guys still facing this issue in CleverTap Plugin 1.3.0?

[2021-11-16 09:36] darshanclevertap commented on #80
@snghnishant Where have you set the `setCleverTapPushClickedPayloadReceivedHandler` on the Dart side to handle the `pushClickedPayloadReceived` callback?

[2021-11-16 09:53] Irfan-KV commented on #70
Can't we find any workaround for this? This works with other packages. So I
believe this can be fixed.

On Tue, 16 Nov, 2021, 14:51 Darshan Pania, ***@***.***> wrote:

[2021-11-16 09:59] snghnishant commented on #80
in main.dart file
[code]

This is how I am invoking the handler (the way it was mentioned in your example project)

[2021-11-16 10:10] snghnishant commented on #80
[code]

[2021-11-16 10:16] snghnishant commented on #80
these are the detailed logs on initiating the push notification from the clever tap dashboard
[code]

Detailed logs on Notification click
[code]

[2021-11-16 11:00] tlworkssoftware commented on #61
@william-ct yes, the same issue

[2021-11-16 12:28] darshanclevertap commented on #80
@snghnishant Are you calling `createNotification` only in the `_firebaseMessagingBackgroundHandler` ?

I'm assuming your issue here is that the notification is getting rendered but with the click of the notification you are not getting the `pushClickedPayloadReceived` callback.

[2021-11-16 12:32] snghnishant commented on #80
Yup, but also in the handler registered for push amplification
[code]

[2021-11-16 12:36] darshanclevertap commented on #80
@snghnishant Got it! I would suggest you try calling `activateCleverTapFlutterPluginHandlers` inside the `_firebaseMessagingBackgroundHandler` as well.

I think the callback listener is not getting set when the notification arrives on the device and hence you are not receiving the `pushClickedPayloadReceived` callback on the click.

[2021-11-16 12:40] snghnishant commented on #80
`_firebaseMessagingBackgroundHandler` is global declared and the `activateCleverTapFlutterPluginHandlers` is defined at the class level so I don't think that can be called directly

[2021-11-17 13:33] CamronLDNF commented on #76
@Aditi3 thanks for your response. Per your suggestion, I passed in the profile as follows (removed the attributes we don't use and added communication preferences).

[code]

Although this solves the date issue, it produces a set of other issues now, both in iOS and Android. I've flagged them in the screenshots below. Please let me know.

******
## On iOS
![iOS_1](https://user-images.githubusercont

[2021-11-17 13:41] CamronLDNF commented on #78
@Aditi3 thanks, will do.

[2021-11-21 10:27] #78 closed

[2021-11-22 06:28] Aditi3 commented on #76
For iOS Mobile Push communication preferences, can you please check if the push token is present on the profile? If the push token is not present then also the communication preference is marked as false. Once, the token gets updated for the user, the user will be subscribed to push.

[2021-11-25 12:20] dtotonfdt opened #81 "Android MethodChannel does not handle the result correctly therefore the Future on Flutter side never completes"
The method channel implementation on Android side in most cases does not call result.success() which should be used to notify the framework that a processing on the native side has been finished and therefore would allow the Future on Flutter side to be completed.

Example use case:

[code]

See CleverTapPlugin.java:

[code]

In case the recordEvent is successfully executed, the result.success(nul

[2021-11-26 10:57] snghnishant opened #82 "Can't pass null in the properties field of CleverTapPlugin.recordEvent("Event Name", properties) on Null Safety"
Framework • revision 18116933e7
Engine • revision d3ea636dc5
Tools • Dart 2.14.4

in pubspec.yaml
[code]

There is an issue with `CleverTapPlugin.recordEvent("Event Name", properties)`  method which doesn't allow us to pass `null` in the properties field when there's no extra data to be passed for an event. This worked until I moved the project to sound null safety. Please update the SDK to suppor

[2021-11-26 11:01] snghnishant commented on #80
@darshanclevertap can you please give a solution for this. We are using Clevertap in our mobile app in production and are unable to do any marketing campaigns which requires us to send user level notifications with redirections.

[2021-11-29 06:58] william-ct commented on #82
Hi @snghnishant, Can you elaborate as to why you need to pass `null` as the properties for `recordEvent()`. Instead of `null` you can send empty property value. For eg:-
[code]

[2021-11-29 07:12] snghnishant commented on #82
passing null makes more sense as it signifies that no extra property is to be sent for that event to work, also it reduces the effort of declaring an extra variable. Though we can also pass a `{ }` as a parameter like `CleverTapPlugin.recordEvent("Some eventName", {})` but to me null make more sense when there's no data to be passed. Well, just take this as a suggestion for enhancement but it's up

[2021-11-29 07:44] william-ct commented on #81
Hey @dtotonfdt . Currently our  method `CleverTapPlugin.recordEvent()` is a fire and forget event, which does not give any callback after the event is raised (you can verify this event on your profile page in dashboard), hence we do not call `result.success(null);` after the event is raised. In the example code you have shared

[code]
You can remove `await` keyword and directly call
[code]

Can yo

[2021-11-29 08:09] dtotonfdt commented on #81
Hello @william-ct,

if the method is a fire and forget then it would be beneficial if the Flutter interface reflected that. Returning a Future from the current interface can lead to bugs because there is no reason to assume that the Future will never complete and some developers will place await there. E.g. there is a linter rule [unawaited_futures](https://dart-lang.github.io/linter/lints/unawait

[2021-11-29 08:30] william-ct commented on #82
Since we moved our SDK to support sound null safety, we made sure that our method is as shown below:-
[code]
We do not accept `null` value for the properties value. More info on sound null safety can be [found here](https://dart.dev/null-safety)

[2021-11-29 08:30] #82 closed

[2021-11-30 05:34] nafas-natasha commented on #58
Hello, @william-ct sorry to say this but I'm experiencing this null exception again after updating to v.1.3.0. For now, I will rollback to v.1.2.3 until there's a new fix for this.

Here's the crash detail:
![image](https://user-images.githubusercontent.com/79839684/143986733-c81161be-707d-4d04-be0f-95be83365401.png)

another log of the same error:
![image](https://user-images.githubusercontent.co

[2021-11-30 06:06] william-ct commented on #58
Hi @nafas-natasha , we have added a fix for this issue. You can find the commit [here](https://github.com/CleverTap/clevertap-flutter/commit/bda5428ca8f5f2e7c1882e63ff4377049d7069e2). Will be releasing a new version soon. Thanks!

[2021-11-30 06:46] william-ct commented on #81
Hi @dtotonfdt, We've added `result.success(null)` for all fire and forget calls as well. Will add this in the updated version which will be released soon

[2021-12-01 07:06] william-ct commented on #77
Hi @tyfoo1603, We're using `Map<String,String>` for the `msg` data payload in `CleverTapPlugin.getAllInboxMessages()`, Right now you can add different implementation for iOS and Android in your dart file as below and handle responses accordingly.
[code]
We'll be picking this up in our future release where the inbox response payload will be uniform across iOS and Android.

[2021-12-01 08:54] william-ct commented on #81
We have fixed this issue in the latest version of our SDK(v1.4.0). Thanks

[2021-12-01 08:54] #81 closed

[2021-12-01 08:55] william-ct commented on #61
Hi @tlworkssoftware @macortesn , we've fixed this NPE in our current version of SDK(v1.4.0). Do let us know if you face any more crashes. Thanks!

[2021-12-01 08:55] #61 closed

[2021-12-01 08:57] william-ct commented on #75
Hi @Irfan-KV , We have added support for Android 12 in our sample app.

[2021-12-01 08:57] #75 closed

[2021-12-04 17:54] snghnishant commented on #80
@darshanclevertap I have figured out a workaround for this which works for notification redirection. Instead of passing parameters as key-value pair in notification data to get to a specific screen inside the app, we can use deeplinks with query parameters and use unilinks package to handle the user notification click redirection.

But this doesn't solves the actual issue. A solution will be reall

[2021-12-15 04:15] tyfoo1603 opened #85 "CleverTapInboxMessagesDidUpdateHandler not working in Android"
After setCleverTapInboxMessagesDidUpdateHandler, CleverTapInboxMessagesDidUpdateHandler is not being called when the messages updated(Add, remove, mark as read etc). But it works fine in iOS.

*It happened on other event handler as well, like CleverTapInboxDidInitializeHandler and CleverTapPushClickedPayloadReceivedHandler.

Currently using `clevertap_plugin: 1.4.0`
My app/build.gradle file

[code

[2021-12-19 07:47] snghnishant opened #86 "White stub in notification pushed from Clevertap dashboard (Android)"
Notification pushed from Clevertap dashboard (Android) shows a white stub instead of the app icon in the notification system tray.
However, firebase notifications pushed from our custom backend server works fine and displays with the app icon properly.

Device info
[code]
![White stub in notification icon](https://user-images.githubusercontent.com/38485386/146667548-a8480af5-9f2d-4aac-9fc0-b46c2df

[2021-12-20 05:32] darshanclevertap commented on #86
@snghnishant Please follow the [steps here for setting the small notification icon ](https://developer.clevertap.com/docs/android#section-set-the-small-notification-icon)

[2021-12-21 04:21] tyfoo1603 commented on #80
Any update on this post? Our team also facing the same issue. Able to receive payload on FirebaseMessaging, but not on pushClickedPayloadReceived callback. Appreciate if anyone on CleverTap Team can follow up on this.

[2021-12-21 06:52] snghnishant commented on #80
Hey as of now there's no way to get the notification data and their tech team is working on that to get this resolved. If you want to try out my workaround to handle redirections through notification then do let me know I'll share the code and steps in a gist.

[2021-12-21 13:14] tyfoo1603 commented on #80
Thanks, snghnishant. Good to know they are working on this. Yes, I would like to try the workaround, please share the code and steps if possible. Thanks again.

[2022-01-03 02:16] aldychris opened #87 "Can't received Inbox data"
I'm having issues when trying to set a campaign for Inbox type when I try to test during campaign creation using my testing account everything working fine, I can receive the notification and the inbox saved to CleverTap DAO, but when I try to schedule notification and send the campaign I'm never received the Inbox.

Same thing with saving to the inbox when I try to send the Push Notification when

[2022-01-06 06:45] darshanclevertap commented on #87
@aldychris I'd suggest raising this issue with our support team via the CleverTap Dashboard. Just one thing, is your account ID truly - "TEST-000-000-0000" or you've masked it for representational purposes?

[2022-01-19 05:47] rajeshsonu opened #91 "Unable to read notification data. when app is terminated."
Hi team
Flutter 2.5.3 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 18116933e7 (3 months ago) • 2021-10-15 10:46:35 -0700
Engine • revision d3ea636dc5
Tools • Dart 2.14.4
clevertap_plugin: ^1.4.0

Flowed all steps as per documentation

When app in foreground able to read notification payload data.
when it comes to terminated state unable to read notification payloa

[2022-01-20 05:09] AjFaboom opened #92 "Custom Appinbox data received not parsable for iOS but works for Android"
I have integrated Custom AppInbox in my flutter app using your plugin and also have written parser for same but the parser is not working well at iOS end but works for Android very well. Usually it is throwing format exception or unexpected character,etc issues in iOS end. Can anyone help me in this to know whether Appinbox data received for Android & iOS is totally different or same. My emailId t

[2022-01-20 06:56] william-ct commented on #92
Hi @AjFaboom , Can you help us with the stack trace of the parser error which you're facing. Also can you mention which version of ct-flutter-plugin you're using? If you're `CleverTapPlugin.getAllInboxMessages()` to fetch AppInbox data , the response in iOS and Android is different as of now. You can refer to this [issue](https://github.com/CleverTap/clevertap-flutter/issues/77)

[2022-01-26 16:46] dhanasonmobile commented on #91
Even I have the same problem.

[2022-02-09 12:22] tlworkssoftware opened #93 "showInbox not working on android"
After updating to the latest version of flutter 2.10.0, I can no longer open the inbox on Android.

`CleverTapPlugin.showInbox(styleConfig);`

Someone with the same problem?

[2022-02-16 05:47] william-ct commented on #93
Hey @tlworkssoftware , showInbox functionality works for flutter version 2.10.0 and above. Can you try updating the app to flutter V2.10.1 and check? Also can you post logs when you are clicking showInbox in your app. Thanks!

[2022-02-17 05:57] william-ct commented on #93
Hi @tlworkssoftware, Do you have the CleverTap logs enabled? In your Application class can you add  `CleverTapAPI.setDebugLevel(3);` and paste the logs from the downgraded Flutter version app?

[2022-02-17 10:37] tlworkssoftware commented on #93
[code]

[2022-02-17 10:51] tlworkssoftware commented on #93
@william-ct Through the log I managed to understand the reason and solved the problem, it was necessary to declare: `ActivityLifecycleCallback.register(this);`
Thanks for the help.

[2022-02-17 10:51] #93 closed

[2022-03-03 07:28] lalit3102 opened #96 "Clevertap not return native display after completing the future of recordEvent but it worked when i wait for 3 seconds after the recordEvent and before getAllDisplayUnit()"
static Future<void> logEvent(String eventName, {Map<String, dynamic>? eventData}) async {
    await CleverTapPlugin?.recordEvent(eventName, eventData ?? {});
  }

not working
logEvent(CTEvents.researchTabOpened).then((value) async {
      print("Success~~~~ ");
      List? displayUnits = await CleverTapPlugin.getAllDisplayUnits();
      print("Display Units = " + displayUnits.toString());
    });`

[2022-03-14 12:33] mrtarunsaraswat opened #100 "Unable to receive messages in app inbox for Android"
Hi, I am unable to receive messages in app Inbox for android devices for iOS it is working fine.

[2022-03-14 14:16] william-ct commented on #100
Hi @mrtarunsaraswat, Need the following info regarding your integration of AppInbox:-

- Are you using CT's `showInbox()` directly out of box implementation or are you custom view to show inbox messages?

- Which version of CleverTapFlutterPlugin have you implemented?

[2022-03-15 04:35] mrtarunsaraswat commented on #100
Hi @william-ct I am using like this.
`var styleConfig = {
        'noMessageTextColor': '#000000',
        'noMessageText': 'No message(s) to show.',
        'navBarTitle': 'App Inbox'
      };`

`await CleverTapPlugin.showInbox(styleConfig);`

Previously, I was using **clevertap_plugin: ^1.3.0** but I updated **clevertap_plugin: ^1.5.0**. In both versions, I am unable to get messages.

[2022-03-15 05:37] william-ct commented on #100
@mrtarunsaraswat The above method call to showInbox is correct. Can you clarify whether are you not able to open the AppInbox UI in your app or are you not receiving any inbox messages created via campaigns? Also for integrating app inbox have you followed the implementation provided in the [sample app ](https://github.com/CleverTap/clevertap-flutter/tree/master/example)

[2022-03-15 11:06] mrtarunsaraswat commented on #100
@william-ct Yeah, I am able to open the app inbox the application but unable to receive the messages. It shows **No message(s) to show.** I followed the same sample app for reference.

[2022-03-17 11:02] DK070202 commented on #68
any update on this thread ?

[2022-03-21 05:33] #100 closed

[2022-04-25 18:17] vartikaantino opened #103 "I am getting this issue for clever tap implementation"
android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java:24: error: cannot access SyncListener
      flutterEngine.getPlugins().add(new com.clevertap.clevertap_plugin.CleverTapPlugin());
                                ^
  class file for com.clevertap.android.sdk.SyncListener not found

* What went wrong:
Execution failed for task ':app:compileStageDebugJavaWithJavac'.

[2022-04-25 20:32] randikachan commented on #103
@vartikaantino I'm also getting the same error on Flutter setup now. I don't know what's the wrong thing I have done, by step by step I followed the CleverTap integration setup.

Trying to figure out what's wrong with this.

[2022-04-27 11:15] tlworkssoftware opened #104 "Error java.lang.NoSuchMethodError"
I'm received many errors in Google Play Console
Android 11, 10 and others...

[code]

[2022-04-28 05:18] william-ct commented on #104
Hi @tlworkssoftware, Can you mention the SDK and Exoplayer's version you're using?

[2022-04-28 19:58] snghnishant commented on #86
@darshanclevertap Seems like the issue is device-specific as most of the devices for our app are getting the notification icon. You may close the issue. Thanks for the help.

[2022-04-28 20:10] snghnishant commented on #80
On tap of system tray notification from Clevertap still not able to get the payload in any 3 states of the app tested on `clevertap_plugin: ^1.5.0` but I have found another yet better workaround for handling redirects by using the firebase dynamic link plugin to capture the dynamic link sent in push notification from Clevertap in all 3 app states and then further extracting the deep link in the fu

[2022-04-28 20:11] snghnishant commented on #80
@darshanclevertap would like to know the updates on this, please!

[2022-04-29 04:44] #86 closed

[2022-04-30 06:08] mrtarunsaraswat commented on #100
Hi @william-ct Any update on this?

[2022-05-02 03:28] william-ct commented on #100
Hey @mrtarunsaraswat Can you raise a support ticket regarding this issue?

[2022-05-04 05:31] william-ct commented on #104
Hey @tlworkssoftware , right now in CleverTap's SDK  we use the following version for `Exoplayer=2.15.1` . You'll have to downgrade your Exoplayer version to  2.15.1 for CleverTap's App Inbox to work smoothly.

[2022-05-04 05:31] #104 closed

[2022-05-04 05:58] william-ct commented on #103
Hi @vartikaantino , This seems to be a compile time error thrown by the IDE, can you check your project's `build.gradle` file for `compileSdkVersion`, `gradle_buildTools` version mismatch? Alternatively you can try the answers poster [here](https://stackoverflow.com/questions/59177152/flutter-error-execution-failed-for-task-appcompiledebugjavawithjavac) and also solution posted in [this Github Flu

[2022-05-04 11:15] san-sitesurface commented on #80
@snghnishant I was also facing the same issue . I removed all firebase handlers and it started working.

[2022-05-04 11:20] apurvpandey commented on #103
I'm also getting the same error. Tried the above-mentioned suggestions, but had no luck.
I'm integrating Flutter SDK version 1.5.1

[2022-05-04 11:22] william-ct commented on #103
Hey @apurvpandey, Can you share your `build.gradle` file of both app's and project's?

[2022-05-04 11:26] apurvpandey commented on #103
It has some sensitive information. So I cannot share the entire file. If you could let me know the specific information you are looking for, I can share the same.

[2022-05-04 11:28] william-ct commented on #103
Need to know your compileSDKVersion,buildToolsVersion and gradle tools version

[2022-05-04 12:16] apurvpandey commented on #103
compileSdkVersion 32
buildToolsVersion 33.0.0-rc2
distributionUrl=https\://services.gradle.org/distributions/gradle-7.4.2-bin.zip

[2022-05-05 12:52] william-ct commented on #103
Hi @apurvpandey , attaching a sample project with the above configuration which you've shared along with the latest CleverTap_Flutter_Plugin V1.5.1. Can you try cloning this [sample repository from here](https://github.com/william-ct/FCM-CT.git) and check whether it's still causing issue in your app?

[2022-05-06 09:05] avneeshkumar commented on #103
Just this `implementation 'com.clevertap.android:clevertap-android-sdk:4.4.0'` to the app level build.gradle of android.

[2022-05-09 10:40] #103 closed

[2022-05-09 13:25] apurvpandey commented on #103
@avneeshkumar @william-ct
It is not part of the documentation provided for CleverTap Flutter SDK integration
Also, we should not explicitly specify/add the android or ios dependency, as we're integrating the Flutter SDK. In fact, CleverTap Flutter SDK should internally point to the respective Android or iOS SDK version.

[2022-05-09 13:33] vartikaantino opened #105 "reciving clever tap not initialize error"
PlatformException(CleverTapPlugin, CleverTap Instance is not initialized, null, null)

[2022-05-11 09:36] #105 closed

[2022-05-11 09:36] vartikaantino commented on #105
fixed it

[2022-05-16 10:42] #87 closed

[2022-05-16 11:02] william-ct commented on #85
Hi @tyfoo1603 , In your app/build.gradle file can you update` 'com.clevertap.android:clevertap-android-sdk:4.1.2'` to 'com.clevertap.android:clevertap-android-sdk:4.3.1' and let us know if this issue still persists?

[2022-05-20 05:19] william-ct commented on #96
Hey @lalit3102 , Is there any reason why are you calling `logEvent` and `CleverTapPlugin.getAllDisplayUnits()` asynchronously? Can you try calling both the methods sequentially and check whether `CleverTapPlugin.getAllDisplayUnits()` is called without adding any delay?

[2022-05-27 09:14] san-sitesurface commented on #91
I also faced the same issue. A simple workaround will be to send all the data in the deeplink of notification. You can send the data through firebase dynamic links or create a deep link yourself and extract it with uni_links. The latter is better as it will launch app directly instead of launching browser first.

[2022-05-27 09:17] san-sitesurface commented on #85
@tyfoo1603 have you integrated firebase as well ? If that's the case you can try removing all firebase messaging listeners like FirebaseMessaging.onMessage.listen or onBackgroundMessage then it will work

[2022-06-25 10:36] snghnishant commented on #80
Any update on this @darshanclevertap the issue has been pending from a very long time now.

[2022-06-25 10:52] snghnishant opened #107 "Need Info regarding CleverTapPlugin.setPushToken(token)"
Hey @darshanclevertap @william-ct  just wanted to understand that do I have to manually call
[code]
to pass Clevertap SDK the push notification token for it to work or does it happen automatically by SDK internally which sets the device token for that device in the Clevertap dashboard. I wanted to clear this doubt because I am currently passing the token manually by explicitly calling this code wh

[2022-07-14 13:21] kiran-bbs opened #108 "Can not able to get badge count working in IOs devices using clevertap flutter SDK."
We have been trying to implement badge count for IOS devices. We have already implemented push notifications and its working awesome. But I am stuck with this particular IOS issue.

I have tried with all possible solution available on the internet.

@darshanclevertap Can you please help me here.

[2022-07-28 19:00] brunapcat opened #109 "not renderning since cleverTapAPI is null"
Inside my PushNotifications class I've initialize clevertap Plugin just like in the example project but I'm getting this "cleverTAP is null" error.

A piece of my code bellow.

[code]

I don't know what else is missing to make it work and documentation lacks explanation (most of it I just took from example project which is not referenced on CleverTap's documentation).

[2022-07-29 11:13] william-ct commented on #109
Hey @brunapcat, Did you add CleverTap credentials(Account ID and Account Token) in your Manifest? Can you refer to [CleverTap-Flutter-Quickstart Guide](https://developer.clevertap.com/docs/flutter-quick-start-guide#overview) and [CleverTap-Flutter-Push Guide](https://developer.clevertap.com/docs/flutter-push-notification) and let us know still if the issue persists.

[2022-07-29 19:51] brunapcat commented on #109
Hello, Yes I have these three set:
[code]
I've also set:

[code]
and

`  android:name="com.clevertap.android.sdk.Application"        `

Here's my full  run log:
[code]

[2022-08-08 11:18] william-ct commented on #109
Hey @brunapcat Can you check the account credentials you've added in Manifest file. From the above logs I can the see account credentials(wzrk_acct_id=TEST-K95-RW5-Z56Z) in notification payload is different than the credentials shown in the verbose logs (K95-RW5-Z56Z)

Closing this issue for now, feel free to reopen this issue even the issue persists.

[2022-08-08 11:18] #109 closed

[2022-08-10 16:43] anujkapoorcg opened #110 "Issue with CleverTap Native Display"
We are trying to implement CleverTap Native Display to render widgets on our home page based on analytics. For this, we created multiple Native Display campaigns (Simple, Carousal, etc.). The target segment for all the campaigns is set as "App Launched" and all the campaigns are published and running.

We integrated CleverTap Flutter SDK into our app but whenever we call the method CleverTapPlugin

[2022-08-11 04:07] darshanclevertap commented on #110
@anujkapoorcg Do you have multiple campaigns running on the "App Launched" event? CleverTap by design only sends one Native Display campaign (the last one created) on one event to avoid spamming. If you want to show multiple widgets, you can probably use the Key-Value Pair Template and pass all the keys to display all the widgets you want to show on "App Launched" event. Or you can raise multiple

[2022-08-11 04:10] anujkapoorcg commented on #110
Thanks @darshanclevertap for your quick response, appreciate it.

Running only one Native Display campaign for one target segment is a huge limitation for us. Is this mentioned in some documentation that we missed? If not, please make sure to add this caveat to the Native Display documentation.

We are trying to implement the following use case using Native Display on the mobile app’s home page. T

[2022-08-11 05:10] darshanclevertap commented on #110
Why not? You can provide the key name as Header 1 and in the value pass the entire widget details as JSON String. Capture the JSON string in the App and render the UI of the carousel. So for the App Launched event, you can send the following KV Pairs -

[code]

Using the Native Display type Carousel does not give any added advantage right now because it only gives the data on the SDK end in a stru

[2022-08-11 05:16] anujkapoorcg commented on #110
@darshanclevertap the problem is that the campaigns will be managed by the marketing team not by the developers. The marketing team will not be able to change the image and text inside the JSON and there would always be a dependency on the developers. Is there any solution where a non-developer user can edit the campaign?

[2022-08-11 05:26] darshanclevertap commented on #110
@anujkapoorcg then I'd just use the following structure in KV Pairs

[code]

Then the developers can get the respective Keys and Values to render the Card in the App

[2022-08-11 05:48] anujkapoorcg commented on #110
@darshanclevertap Thank you for the suggestion, this seems feasible. One more question:
What about the image, do we have to upload the images somewhere else (like aws s3) and then provide the image URL in KV pair? Because that will also create dependency for the marketing team. Is there any way we can upload the images on the CleverTap and provide the URL from there?

[2022-08-11 06:13] darshanclevertap commented on #110
@anujkapoorcg For now you can only upload to some CDN like AWS S3 and use that. I will take up the request to host images on CleverTap itself with the product team 👍🏾

[2022-08-16 05:58] #110 closed

[2022-08-16 06:01] darshanclevertap commented on #108
@kiran-bbs Can you share what all you have tried?

[2022-08-18 09:00] KambleSonam commented on #108
@kiran-bbs . You can go through the available flutter package to add badge.
https://pub.dev/packages/flutter_app_badger

[2022-08-18 09:04] kiran-bbs commented on #108
But how I can listen to new push coming directly from journeys. In android its working out of the box but in IOS manually sending count from api works but it doesnt take from available notifications from the notification tray

[2022-08-18 09:34] kiran-bbs commented on #108
@darshanclevertap I have tried with FCM but not worked also added some native level code to try to listen new push event. But not able to do that. Do you have any proven approach to do this. Can you please let me know posible way to implement badge count from app side without sending count from server side for IOS devices.

Note: For android sdk working as expected. for IOS if we send count from A

[2022-08-28 20:57] maxim-ivanchuk-idf opened #111 "Click on push notification not triggered methods"
When i am sending notification from clever tap panel , notification receive is detected by FirebaseMessaging.onMessage (when app in foreground) and FirebaseMessaging.onBackgroundMessage(when app in background), but FirebaseMessaging.onMessageOpenedApp.listen is not working while opening/click on notification.

CleverTapPlugin().setCleverTapInboxMessagesDidUpdateHandler(() {});
CleverTapPlugin().se

[2022-08-30 08:46] boymustafa commented on #25
hi @Aditi3
is there any news about this issue? I face the same issue here.

[2022-09-06 09:27] AhmedEzio47 opened #112 "Notifications not showing while app in foreground iOS"
Hi all, I've successfully integrated CleverTap notifications as per the documentation, but I'm facing a minor issue, notifications won't show while the app is in the foreground, in the case of iOS, is this behaviour expected? or am I missing something?

This is how I init the plugin
void init() {
    CleverTapPlugin.createNotificationChannel(
      "walaone_clevertap",
      "walaone_clevertap-not

[2022-09-06 18:08] anujkapoorcg opened #113 "CleverTap Native Display Issue"
I have 3 Native Display Campaigns running:
Campaign 1: where Who = "App Launched"
Campaign 2: where Who = "Event 1"
Campaign 3: where Who = "Event 2"

Event 1 and Event 2 both are triggered from the Flutter main function

[code]

When I call `CleverTapPlugin.getAllDisplayUnits()` I receive only Campaign 2 and Campaign 3 in the response but not Campaign 1. This seems to be a bug in CleverTap becaus

[2022-09-06 18:35] anujkapoorcg commented on #113
@darshanclevertap could you please help here?

[2022-09-07 04:39] darshanclevertap commented on #113
@anujkapoorcg This should not ideally happen.

This seems like a back end issue to me. Can you raise a support ticket via the dashboard for this and add this GitHub issue link in that as well. I'll try and take this up on priority.

Thanks!

[2022-09-07 05:06] darshanclevertap commented on #96
@lalit3102 Closing this due to inactivity. Please feel free to reopen this if you're still facing the issue

[2022-09-07 05:06] #96 closed

[2022-09-07 05:08] darshanclevertap commented on #72
@snghnishant We have reworked our [Flutter documentation](https://developer.clevertap.com/docs/flutter-sdk). I hope it is more helpful now. Please feel free to reopen this issue or create a new one if you face any challenges with the docs.

[2022-09-07 05:08] #72 closed

[2022-09-07 05:09] darshanclevertap commented on #85
@tyfoo1603 Closing this due to inactivity. Please feel free to reopen the issue if it still persists.

[2022-09-07 05:09] #85 closed

[2022-09-07 06:47] boymustafa opened #114 "methodChannel in invokeMethodOnUiThread(Map) is null"
Hi Clevertap team,
We are having issue where Clevertap SDK is clashing with the **Work Manager** library (https://pub.dev/packages/workmanager). The issue is when we execute `await Workmanager().cancelAll()`
`setCleverTapInAppNotificationButtonClickedHandler` and `setCleverTapInboxNotificationButtonClickedHandler` wont be executed. Even the Clevertap is throwing an error

`D/CleverTapPlugin(29108)

[2022-09-07 07:12] anujkapoorcg commented on #113
@darshanclevertap Ticket #[107565] raised via dashboard.

[2022-09-07 07:13] darshanclevertap commented on #113
@anujkapoorcg We have raised an internal support ticket for this and I have set the context of the issue. We will get back to you as soon as we get a response from the back end team

[2022-09-07 08:47] william-ct commented on #114
Hi @boymustafa Can you help us as figure out whats your use case for using WorkManager library. Also if possible can you share the code snippet where you've used `await Workmanager().cancelAll()`. Also can you provide us with the below details of the SDK's you're using:-
- WorkManager library version
- CleverTap flutter plugin version

[2022-09-07 10:23] boymustafa commented on #114
Hi,
We use WorkManager to update our app widget (https://developer.android.com/develop/ui/views/appwidgets/overview  ) in the background.
This is the method we call the cancel all method and then register the task:
[code]

The `startBackgroundUpdate` method is called inside the main method.

[code]

As for the details of the SDK:
1. WorkManager library version
We are using the forked version of th

[2022-09-07 12:15] maxim-ivanchuk-idf opened #115 "**No such module 'ClevertTapSDK'**"
**No such module 'ClevertTapSDK'**

In my Swift project, I use various libraries (written in Objective-C as well as Swift). To be able to use libraries written in both languages, I have to use use_frameworks! directive in my Podfile. If I use this directive, I am not required to use bridging header for any other library written in Objective-C. I can just use import ModuleName and use it.

But, whe

[2022-09-09 12:42] AhmedEzio47 opened #116 "Add multi-instance support to Flutter package"
Multi-instance support is a handy feature, but it's absent in the Flutter version of the SDK, so please add it. In the meantime, can I use the native implementation by utilizing method channels? I tried but it seems I have to return the created (additional instance) in the method channel which I think is impossible.

[2022-09-12 06:03] anujkapoorcg commented on #113
Hi @darshanclevertap , Any update on this?

[2022-09-12 10:26] maxim-ivanchuk-idf commented on #115
Bud in xcode
running good from command line and from android studio

[2022-09-12 10:28] maxim-ivanchuk-idf commented on #91
Same problem

[2022-09-12 10:29] maxim-ivanchuk-idf commented on #80
@snghnishant  same problem

[2022-09-13 12:24] maxim-ivanchuk-idf commented on #91
@darshanclevertap  any news ?

[2022-09-15 05:25] akashvercetti commented on #115
@maxim-ivanchuk-idf , would it be possible for you to create an empty sample mixed language app and link us to it for us to be able to debug the issue better?
Thanks

[2022-09-20 07:54] anujkapoorcg opened #117 "Transparent Images not working in Native Display"
Steps to reproduce:
1. Create a native display campaign with a single message with an icon or carousal
2. Upload an image with a transparent background to the slide
3. Call CleverTapPlugin.getAllDisplayUnits()

Expected Results:
In the response of CleverTapPlugin.getAllDisplayUnits() the URL should be of the same image which was uploaded with transparent background.

Actual Result:
In the response

[2022-09-20 08:28] darshanclevertap commented on #113
The back end is still working on this. Give me a day to get the latest update on this. Sorry for the delay here

[2022-09-20 08:30] darshanclevertap commented on #117
@anujkapoorcg This is a CleverTap Dashboard issue as well, please raise a support ticket and mention this Github Issue and I will expedite this

[2022-09-20 08:33] anujkapoorcg commented on #117
Thanks @darshanclevertap. Ticket #108722 raised on dashboard

[2022-09-22 21:19] iobart opened #118 "App crashed frequently on didRegisterForRemoteNotificationsWithDeviceToken"
after upgrading clevertap to version 1.5.1  the application stops
I currently have my sdk 2.18.0 and flutter version 3.3.1
<img width="560" alt="Captura de Pantalla 2022-09-22 a la(s) 4 17 52 p m" src="https://user-images.githubusercontent.com/46167338/191852843-3fc93343-ff49-47f7-bacf-5994857696b9.png">
this is the error that occurs
<img width="696" alt="Captura de Pantalla 2022-09-22 a la(s) 4 1

[2022-09-23 12:29] junaid1460 opened #119 "Planning to update native plugins?"
Last release was 5 months ago, there has been so many changes in native side

[2022-10-07 09:21] bhanumniyo opened #127 "Not getting Native Display Campaigns when a custom event triggers."
I created a Native Display Campaign where in the "WHO" section I have added a custom event to trigger the campaign. This custom event gets triggered at app launch itself . In the Clevertap dashboard I can see that that custom event is being logged successfully but still when I use  -

`List? displayUnits = await CleverTapPlugin.getAllDisplayUnits();`
displayUnits List is empty.
The issue happens o

[2022-10-07 09:51] darshanclevertap commented on #127
@bhanumniyo this is similar to #113 Please see my [comment here](https://github.com/CleverTap/clevertap-flutter/issues/113#issuecomment-1238900275)

[2022-10-10 10:51] tp-coderbabu commented on #112
can you also share the IOS swift implementation part also?

[2022-10-10 11:51] prince-kumar commented on #113
@darshanclevertap  can you please help me with this ? We have a critical release to be decided on top of it. We are not able to see the cards shown on the basis of the CT custom events.

If this does not work, we will be forced to move to other tools.

[2022-10-10 12:28] darshanclevertap commented on #113
@anujkapoorcg @prince-kumar I have escalated this internally. Someone from our support team will be reaching out to you shortly. Sorry for the delay

[2022-10-12 07:07] dharmendra79 commented on #111
@maxim-ivanchuk-idf did you find the solution??

[2022-10-12 07:07] dharmendra79 commented on #111
@maxim-ivanchuk-idf I am having the same issue and not able to trigger the click handle.

[2022-10-13 10:29] thanhnhan111093 opened #128 "Cannot receive In-App Message with App Installed event on IOS"
We try to show In-App Notification when a user installs the app by Campaign and Journey, but it never shows on IOS. Although we tried 1-minute delay.
With custom event and App Launched it works properly

And It doesn't happen with Android

[2022-10-19 11:45] leventkantaroglu commented on #68
Is there any progress? Thanks

[2022-11-08 04:57] arifsyafie opened #133 "iOS Deeplink not working sometimes"
Dear Clevertap team,

I'm facing some issues that the deeplink value for push notification is not working when apps is killed in iOS.

Sometimes its working, sometimes its not.

However on android the deeplink is working without any problem.

I have following the implementation from your guide.

I have try to disable all the firebase related as it may have some conflict with firestore, however the

[2022-11-11 03:06] josh88versa commented on #85
Hi Team, I'm facing the same issue. The in app message appears but when I click on the dismiss or button, event handler is not being called.

my flutter plugin version: `clevertap_plugin: ^1.5.4`

here is the current log for `flutter doctor -v`
[code]
My gradle dependencies:
[code]

I've copied the same implementation describe in the documentation.
[code]
I've looked at the CleverTap plugin source

[2022-11-14 21:56] manoelsrs commented on #133
I'm facing this issue too.

Clevertap version: 1.5.4
Flutter: Channel stable, 3.3.7

[2022-11-16 11:20] tamim-mm opened #134 "Clevertap Plugin won't work in Flutter Module"
A Flutter app can be used as a module in an existing native app.
https://docs.flutter.dev/development/add-to-app/android/project-setup

Clevertap plugin works fine in full-flutter app(standalone mode). But when the Flutter project is used module, it's giving us this error.

[code]

We have added the Clevertap dependencies in our native app's build.gradle file, as suggested here
https://docs.flutte

[2022-11-16 12:24] shivamsharma2710 commented on #134
Hi @tamim-mm

Thanks for reporting the issue. Please answer the following questions:
1) CleverTap Native SDK version?
2) CleverTap Flutter plugin version?

[2022-11-16 12:27] tamim-mm commented on #134
Hi @shivamsharma2710

Native:
implementation 'com.clevertap.android:clevertap-android-sdk:4.6.3'

Flutter Plugin:
clevertap_plugin: ^1.5.4

[2022-11-16 12:37] tamim-mm commented on #134
To reproduce this, you may create a Flutter project and use it as a module in a native android app.

https://docs.flutter.dev/development/add-to-app/android/project-setup

[2022-11-16 16:01] shivamsharma2710 commented on #134
@tamim-mm Thanks for sharing the details. We will check this issue.

[2022-11-17 05:30] tamim-mm commented on #134
I've found a way to run the plugin.

When I add **implementation 'com.clevertap.android:clevertap-android-sdk:4.6.3'** in /.android/build.gradle it works.

But it's not a solution because ".android" (not android) folder is auto generated when you are using Flutter project as a module, and this folder will be reset whenever you run flutter pub get.

Hope it helps you to find the real issue @shivams

[2022-11-17 11:20] maxim-ivanchuk-idf commented on #111
@dharmendra79 i used flutterLocalNotificationsPlugin for showing notification in android

[2022-11-18 11:38] maxim-ivanchuk-idf opened #135 "Push notifications not come to IOS in foreground"
Push notifications not come to IOS in foreground, but for background and terminate  all work correctly

[2022-11-18 11:39] maxim-ivanchuk-idf commented on #135
@darshanclevertap  clevertap_plugin: 1.5.4

[2022-11-18 11:52] maxim-ivanchuk-idf commented on #135
import UIKit
import Flutter
import Firebase
import flutter_downloader
import CleverTapSDK
import clevertap_plugin

@UIApplicationMain
@objc class AppDelegate: FlutterAppDelegate {
    override func application(
        _ application: UIApplication,
        didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?
    ) -> Bool {
        FirebaseApp.configure()
        Gen

[2022-11-18 12:42] maxim-ivanchuk-idf commented on #135
Sorry, i was found )
i forgot add
 UNUserNotificationCenter.current().delegate = self as? UNUserNotificationCenterDelegate

[2022-11-21 06:50] nishant-clevertap commented on #135
Great, Closing this issue.

[2022-11-21 06:50] #135 closed

[2022-11-21 13:21] IgorHalfeld commented on #133
Me too

Clevertap version: 1.5.4
Flutter: Channel stable, 3.3.7

[2022-11-22 07:36] shivamsharma2710 commented on #134
Hi @tamim-mm

Latest CleverTap plugin version doesn't support **add-to-app** feature to embed a flutter module in an existing app.

We'll be supporting **add-to-app** in the upcoming release due in few days.

[2022-11-23 07:44] appyshah08 opened #137 "Foreground and Background message handler not getting invoked for iOS push notification with flutter version 3.3.4 and clevertap version 1.5.4"
Flutter Version : 3.3.4
Clevertap Version : 1.5.4

For iOS push notification the background and foreground notification are not getting invoked.

[2022-11-24 10:53] nishant-clevertap commented on #137
Hi @appyshah08,

We are investigating the issue, could you help me with some questions:
1. Have you implemented firebase and are you using firebase foreground/background handlers?
2. Have you faced this issue in earlier CleverTap version also?

[2022-11-25 03:38] appyshah08 commented on #137
We are not using firebase.We suspect clevertap also uses firebase by default for sending notification.We are implementing for first time.

[2022-11-25 10:10] dmaheshwari2209 commented on #111
what about IOS ?

[2022-11-28 09:04] nishant-clevertap commented on #137
Hi @appyshah08,

We have checked the behaviour in our sample app where foreground and background handlers are getting invoked with latest flutter version 3.3.9 and CleverTap version 1.5.4.
Refer: https://github.com/CleverTap/clevertap-flutter/blob/master/example/ios/Runner/AppDelegate.m

Make sure to add UNUserNotificationCenter delegate to self before sending notification as added in sample AppDe

[2022-11-29 04:18] nurhadikusumo opened #138 "i want to add clevertap_plugin to flutter module for ios as xcframework"
i want to add clevertap_plugin to flutter module for ios as xcframework.
when i added the module to ios project show error like this, please help 🥲

[2022-11-30 07:10] appyshah08 commented on #137
thanks issue is fixed by using the solution suggested by the team.

[2022-11-30 07:10] #137 closed